.block
  %h3 Engine Yard Cloud Screencasts
  #inlineContent
  .video
    %a.thickbox{:href=>"#TB_inline?height=350&width=560&inlineId=inlineContent", :onClick=>"popVideo('6965218','350','560')", :title=>'Deploy Your App in 5 Minutes on Engine Yard Cloud'}
      %img{:src=>'/images/img-cloud-video.png'}
      Deploy Your App in 5 Minutes
  %ul.videoList
    %li
      %a.thickbox{:href=>"#TB_inline?height=350&width=560&inlineId=inlineContent", :onClick=>"popVideo('7056116','350','560')", :title=>'Cloning your applications with Engine Yard Cloud'}Cloning your applications
    %li
      %a.thickbox{:href=>"#TB_inline?height=350&width=560&inlineId=inlineContent", :onClick=>"popVideo('7056106','350','560')", :title=>'Automating deployments with Engine Yard Cloud'}Automating deployments
    / %li
    /   %a.thickbox{:href=>"#TB_inline?height=350&width=560&inlineId=inlineContent", :onClick=>"popVideo('7056097','350','560')", :title=>'Database replication using Engine Yard Cloud'}Database replication
    / %li
    /   %a.thickbox{:href=>"#TB_inline?height=350&width=560&inlineId=inlineContent", :onClick=>"popVideo('7056009','350','560')", :title=>'Custom utility instances with Engine Yard Cloud'}Custom utility instances