.block
  %h3 What Cloud Customers Are Saying...
  #cloudQuotes

-#
  %blockquote The flexibility, performance and peace of mind we get from Engine Yard Cloud allows us to focus on what we do best--develop great web applications for our customers.
  %cite
    CJ Kihlbom, Founder and Developer
    %br eLabs

  %blockquote Engine Yard service is amazing. The support team has deep knowledge of Rails and how to scale high-growth applications, and they're always available. Whenever you need help, it's not just one person that comes in&mdash;it's the whole team. This kind of support is unique and has made us a very loyal customer.
  %cite
    Charles Ju, CEO
    %br PlayMesh

  %blockquote The support team has been fantastic, and we’ve relied on their impressive expertise with the Rails stack to help us achieve our scalability requirements. We are really happy to have the combination of Engine Yard technical expertise, customer support, and cloud platform all running on top of Amazon Web Services infrastructure.
  %cite Rob Shedd, VP, Technology and Product, Three Screen Games, Inc.

-#
  :textile
    h3. What Cloud Customers Are Saying...
  
    bq. "Engine Yard Cloud has combined the power of the Amazon cloud with years of experience and creativity to create the best Ruby stack in the industry. We scaled from almost nothing to twelve clustered servers in a single day and handled a huge spike of traffic effortlessly. They have answered the age-old question of 'does Ruby scale?' with a resounding 'Yes!'"

    cite. Warren Konkel
    Topzy, Inc.

    bq. "We were looking for a reliable and dependable service, and we've had zero problems. Engine Yard provided everything we needed. They are very good at what they do."

    cite. Conrad Barnes
    Founder of Dental Drug Search.

    bq. "We were familiar with Engine Yard because of their good community relations and have been very happy with the service they provide."

    cite. Zachary Powell
    Senior Developer at Pledge Music Ltd.