.block
  :textile
    bq. "Engine Yard takes the guesswork out of managing our Rails applications."

    cite. Jason Schutzbank, Executive Vice President and CTO College Tonight


    bq. "Engine Yard’s architecture, scalability, support and pricing are ideal for our customers who want to scale their business in a cost-effective, secure way... Their knowledge of and commitment to the Rails platform has made working with them a joy."

    cite. Scott Askew, CTO Tacit Knowledge