.block.roadshow
  = image_tag '/images/img-head-roadshow-sm.png'
  %p If you care about the end-to-end <em>performance of your Rails application</em>, you will want to attend this <em>free</em>, half-day seminar&mdash;coming to Boston, Chicago, Austin, Los Angeles and Seattle this month.
  = link_to 'REGISTER NOW FOR FREE', 'http://www.railsroadshow.com/register-now.html', :class=>'button'