.socialMedia
  %h3 Follow Engine Yard
  #socialmedia
    %ul
      %li.twitter
        Twitter
        %br/
        http://www.twitter.com/engineyard
      %li.fb
        Facebook
        %br/
        http://www.facebook.com/engineyard
      %li.flickr
        Flickr
        %br/
        http://www.flickr.com/engineyard
      %li.linkedIn
        LinkedIn
        %br/
        http://www.linkedin.com/groups?gid=111752
      %li.youTube
        YouTube
        %br/
        http://www.youtube.com/engineyardvideo
      %li.rss
        Blog Feed
        %br/
        http://feeds2.feedburner.com/engineyard