.block.box.highlight
  %p.webcast
    %strong <a href="http://www.engineyard.com/cloud-demo">Engine Yard Cloud Daily Demo</a>
    %br/
    %small Monday - Friday
    
    #countdown
    
    %p Watch a 15-minute live demonstration of Engine Yard Cloud and discover how easy it is to deploy your Rails application on Cloud! <a href="http://www.engineyard.com/cloud-demo">View the schedule to register!</a>
    -# %p.center <a href="http://www.engineyard.com/cloud-demo" class="register">View schedule &rarr;</a>