body {
  margin:0;
	background:#fff;
	color:#555;
	font-size:62.5%;
	font-family:Helvetica, Arial;
	font-style:normal;
	line-height:1.1em;
}
#content h3 {

}
p {
	font:1.3em/1.6em Helvetica, arial;
}
p, address { font-style:normal; }

a:link, a:visited {
  color: #005195;
	text-decoration:none;
}
a:hover { text-decoration:underline; }

/* = Structural Styles = */
#wrapper {
	text-align:center;
	width:100%;
	margin:0;
}
#container {
  position:relative;
	margin:0 auto;                                                                       
	text-align:left;
	width:1024px;                       
	padding:0 0 100px 0;
	background:#f1f7e2;
	border:#999 solid;
	border-width:0 1px;
}

.header {
	height:200px;
	margin:0;
	padding:1px 0 0;
}             
#primary {
  position:absolute;
  top:172px;
  text-transform:uppercase;
}
#primary.nav {
	height:33px;
	margin:0 0 0 49px;
}
	#primary.nav ul {
		height:33px;
	}
	#primary.nav li {  
		display:inline;
		float:left;
		font:1.4em/2.4em Helvetica, Arial, sans-serif;
		text-align:center;
		height:28px;
		margin:0 15px 0 0;
		padding:0 0 0;
		width:106px;
	}
	#primary.nav li a {
		display:block;
		height:28px;
		width:106px;
		-moz-border-radius-topleft:5px;
	  -moz-border-radius-topright:5px;
  	-webkit-border-top-left-radius: 5px;
  	-webkit-border-top-right-radius: 5px;
	  background:#fff;
		border:1px solid #999;
		color:#607e4c;
		font-weight:bold;
	}
	#primary.nav li a:link, #primary.nav li a:visited, #primary.nav a.selected:hover {
		text-decoration:none;            
		-moz-border-radius-topleft:10px;
	  -moz-border-radius-topright:10px;
	}
	#primary.nav li a:hover {
		text-decoration:underline;
	}
	#primary.nav li.last {
		margin-right:0;
	}
	#primary.nav a.selected, #primary.nav li a:hover {
    background:url('/images/main-sprite.gif') 0 0 repeat-x; 
    border-color:#999 #999 #fff #999; 
    text-decoration:none;
	}
	#primary.nav a.selected {
		color:#252525 !important;
	}
	
	* html #primary.nav li { font-size:1.6em; }
	* html #primary.nav li a { display:inline-block; }
	* html #primary.nav ul {height:1% !important; display: inline-block; margin-bottom: -18px;}
  
  #social {
    position:absolute;
    top:167px;
    right:30px;
  	width:172px;
  }           
  #social ul {   
    display:inline;
    padding:0;
    margin:0;
  }
  #social li {     
    display:inline;
  	float:left;    
  	width:30px;
    height:30px;
    overflow:hidden;
    text-indent:-999px;
    margin:0 0 0 20px;
  }               
  #social li a {
    display:block;     
    width:30px;
    height:30px;
  }
  #social_twitter {
    background:url('/images/main-sprite.gif') 0 -30px no-repeat; 
  }
  #social_digg {
    background:url('/images/main-sprite.gif') -30px -30px no-repeat; 
  }
  #social_facebook {
    background:url('/images/main-sprite.gif') 0 -60px no-repeat; 
  }
  #social_reddit {
    background:url('/images/main-sprite.gif') -30px -60px no-repeat; 
  }
#contentwrap {
  width:100%;
  border:solid #999;
	border-width:1px 0 0 0;
}
#content {    
  margin:0 0 0 36px;
	background:#fff;
	float:left;
	min-height: 625px;
	padding: 20px 15px;
	width:727px;
}       
#content .section {
  padding:0 0 15px 0;
  border:solid #bddd79;
  border-width:0 0 1px 0;
}                        
#content .section ol li h3, #content .section h3 {
  font-size:1.8em;  
  line-height:1.2em;  
  margin:24px 0 5px 0;
}
  #content h2 {
    margin-bottom: 1em;
    padding-top: 1em;
    font-size: 2em;
    color: #607e4c;
    font-family:georgia;
    font-weight:normal;
    font-size:24px;
  }                

	#overview h2.pageTitle {
		background:url(../images/join-us-after-rubyconf.png) 0 0 no-repeat;
		height:44px;
		margin:0;
		text-indent:-999em;
		width: 670px;
	}
	#event_schedule h2.pageTitle {
		background:url(../images/event-schedule.png) 0 0 no-repeat;
		height:34px;
		margin:0 0 8px;
		text-indent:-999em;
		width: 390px;
	}
	#event_location h2.pageTitle {
		background:url(../images/event-location.png) 0 0 no-repeat;
		height:34px;
		margin:0 0 8px;
		text-indent:-999em;
		width: 213px;
	}
	#event_speakers h2.pageTitle {
		background:url(../images/event-speakers.png) 0 0 no-repeat;
		height:34px;
		margin:0 0 8px;
		text-indent:-999em;
		width: 234px;
	}
	#event_sponsors h2.pageTitle {
		background:url(../images/event-sponsors.png) 0 0 no-repeat;
		height:34px;
		margin:0 0 8px;
		text-indent:-999em;
		width: 237px;
	}
	#content p.register_now {
		float:right;
		padding:15px 0 0;
	}
	#content p.intro {
		color:#fff;
		font:1.4em/1.6em Helvetica, Arial;
		margin:0;
		padding:0;
		width:520px;
	}

.aside {  
	float:right;
	padding:16px 0 0 0;     
	margin:0 30px 0 0;
	position:relative;
	text-align:center;
	width:172px;
}
.aside h5 {
  font-size: 1.2em;
  text-transform:uppercase;
}
.aside h3 {
  font-size: 1.5em;
  text-transform:uppercase;
}
	.aside ul {
		margin:5px 0 0;
	}
		#event_sponsors .aside ul {
			margin:13px auto 0;
			width:104px;
		}
	.aside ul li {
		margin:0 0 20px;
	}
		#event_sponsors .aside ul li {
			margin-bottom:18px;
		}
	.aside ul li div.speaker_name {
		color:#555;
		font:bold 1.4em Helvetica, Arial;
		margin:8px 0 0;
	}
	.aside ul li span.title_co {
		color:#555;
		font:1.3em/1.2em Helvetica, Arial;
	}
	.aside p {
		padding:0 15px;
	}
	
	
/* == Content Layout by page
--------------------------------------*/
	#preamble {
		-moz-border-radius:5px;
		-webkit-border-radius: 5px;
    background:url('/images/main-sprite.gif') 0 -221px repeat-x; 
  	padding:10px;
	}          
	#preamble h2 {
	  padding-top:0.25em;
	  padding-bottom:0.25em;
	  margin-bottom:0.5em;
	}                    
	#preamble.home {
	  width:550px;
	}
	#paypal {
    position:absolute;
    top:222px;
    left:640px;
    width:105px;
	}             
	#paypal h5 {                                     
	  width:105px;
	  height:105px;
	  background:url('/images/main-sprite.gif') 0 -116px no-repeat;
	  overflow:hidden;
	  text-indent:-999px;
	  margin:0 0 5px 0;
	}
	#paypal h5 a {                                     
	  display:block;
	  width:105px;
	  height:105px;
  }
	#paypal form {                                     
	  margin:0 0 5px 5px;
	}
	/* Home Page - Next Event */
	#location {
		clear:left;
		width:304px;
	}
			#location img.floatLeft {
				margin:0 7px 0 0;
			}
			#location p {
				color:#fff;
				font: 1.1em/1.2em Helvetica, Arial;
				margin:0 0 12px;
				text-transform:uppercase;
			}
			#location p a {
				color:#99ccff;
				text-decoration:none;
			}
		.aside a {
		  color: #005195;
		}
		.aside a[href*=speakers] {
		  text-align: center;
		  margin-bottom: 10px;
		}
		#viewMore {
			font: 1.4em/1.1em 'Lucida Sans', 'Lucida Sans Unicode', Helvetica, Arial;
			margin: 15px 0 30px;
		}
		#viewMore a:link, #viewMore a:visited {
			color:#005195;
			text-decoration:none;
		}
		#viewMore a:hover { text-decoration:underline; }
		p#more_speakers { font-size:1.4em; }
		
	/* Schedule - Event Schedule */
	#schedule {
		float:right;
		width:404px;
	}
		#schedule > p {
			margin-bottom: 20px;
		}
		#schedule table {
			color:#d9d9d9;
			font: 1.5em/1.1em 'Lucida Sans', 'Lucida Sans Unicode', Helvetica, Arial;
			padding:0 0 10px;
			width: 100%;
		}
		#schedule td {
			border-top: 1px solid #525252;
			height: 20px;
			padding: 10px 0 7px 14px;
			/*vertical-align: middle;*/
		}
		td.startTime { width:74px; }
		td.endTime { width:74px; }
		td.event {
			border-bottom:0;
			font-size:1.15em;
		}
			td.event strong {
				color:#fff;
				font-weight:bold;
			}
		td.eventDescription { font-size:0.75em; }


#schedule_of_events .mid, #the_speakers .mid, #the_sponsors .mid { padding:0; }
.event, .speaker {
	border-bottom:1px solid #525252;
	padding:20px 28px 28px 36px;
}
	.event h4 {
		color:#fff568;
		font:2.3em/1.2em Helvetica, Arial;
		margin:10px 0 0px;
	}
	.event h5 {
		color:#ffffcc;
		font:1.5em/1.2em Helvetica, Arial;
		margin:0 0 9px;
	}
	.event p {
		color:#f7f7f7;
		font:1.3em/1.6 Helvetica, Arial;
		margin:10px 0 0;
	}
	.event span {
		color:#fff;
		font:1.7em Helvetica, Arial;
		text-transform:uppercase;
	}
	.last_item { border:0; }
	
#location_info .mid { padding:1px 40px 32px 0; }
	#location_info address {
		color:#fff;
		font:1.8em/1.4em Helvetica, Arial;
		margin:0 0 28px 247px;
	}
	#location_info address span { display:block; }

	#location_info img.floatLeft {
		margin:24px 32px 0 34px;
	}
	#location_info p {
		color:#fff;
	}
  .sponsor {
    clear:both;
  }
  .sponsor p {
		margin:13px 0 0;
	}
	.sponsor p {
	  padding-left: 155px;
	}
	.sponsor p.service_product {
		margin:0 0 13px;
	}
	
.sponsor a.floatLeft {
	margin:0 18px;
	text-align:center;
	width:120px;
}	
.clear { clear:both; height:0; font-size: 1px; }
.floatLeft {
	display: inline;
	float: left;
}
.floatRight {
	display: inline;
	float: right;
}


/* Clearing */
.cB:after,  .section:after, .eventLocation:after, #content:after { clear: both; content:'.'; display: block; height: 0; visibility: hidden; }
.cL:after, .speaker:after, .sponsor:after { clear:left; content:'.'; display: block; height: 0; visibility: hidden; }
.cB, .cL, .section, .speaker, .sponsor, .eventLocation, #content { display:inline-block; }
/* hide \*/
* html .cB, * html .cL, * html .section, * html .sepaker, * html .sponsor, * html #content { height:1%; }
.cB, .cL, .section, .speaker,.sponsor, #content { display:block; }
/* end hide */