<div id="preamble">
	<h2>Overview</h2>
	<p>To continue Google’s great tradition of sponsoring open source development via summer student interns, Ruby companies, organizations and community members are getting together to fund Ruby Summer of Code. The project will work much the same way Google Summer of Code does&mdash;mentors and student interns, with mentors voting on which student projects get slots.
	  </div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <br>
  <br>
  <p><center><b style="color: #900; font-size: 16px; line-height: 20px">We raised $100,000 in three days, allowing for a fantastic 20 intern slots! <br>Project details have <a href="/projects">just been posted</a>.</b></center></p>

  <h2>Frequently Asked Questions</h2>
  <ol>
    <li>
      <h3>What is Ruby Summer of Code?</h3>
        <p>
        Ruby Summer of Code is a student internship program, modeled after Google’s Summer of Code, designed to help fund student development of Ruby coding projects in Summer 2010.
        </p>
    </li>
    <li>
      <h3>What are the goals of this program?</h3>
        <p>
        The goals of the program are to help get students engaged in Ruby development and the Ruby community, and to continue the tradition of great student Ruby projects completed in past summers as part of GSoC.
        </p>
    </li>
    <li>
      <h3>How many mentoring organizations and students are expected to take part in the program?</h3>
        <p>
          There are twenty intern slots for summer 2010.
        </p>
    </li>
    <li>
      <h3>When can I apply?</h3>
        <p>The mentor application window is March 24th to April 2nd. The student application window is April 5th to April 23rd.
        </p>
    </li>
    <li>
      <h3>How does the program work?</h3>
        <p>
          The Ruby Summer of Code program is designed to help fund student development of Ruby and/or Rails projects in the summer of 2010. Accepted students will be matched up with accepted mentors and will have two months to complete their summer projects. Students will undergo a project evaluation midway through the summer (dates to be announced), and those showing suitable progress will receive 50% of their student stipend. At the close of the work window, projects will undergo final evaluations, and students who successfully completed their projects will receive the remaining 50% of their stipend.
        </p>
    </li>
    <li>
      <h3>How do evaluations work?</h3>
        <p>
          Projects will be evaluated by each student's mentor, and then reviewed by the larger mentor pool. Evaluations will be individually tailored based on the pre-determined agreed upon objectives and deliverables of each project.
        </p>
    </li>
    <li>
      <h3>Who is eligible to apply?</h3>
        <p>
          College and High School students with valid proof of enrollment (ID, tuition bill -- we're not picky) are eligible to apply.
        </p>
    </li>
    <li>
        <h3>Will you help me get official school credit for my internship?</h3>
          <p>
            We can't guarantee the program will qualify for your specific requirements, but we're happy to help you sort it out. Contact us privately to discuss your particular school's requirements.
          </p>
    </li>
  </ol>
</div>