<div id="preamble" class="home">
	<h2>Overview</h2>
	<p>To continue Google’s great tradition of sponsoring Open Source Development via summer student interns, several Ruby companies, organizations and community members are getting together to fund Ruby Summer of Code. The project will work much the same way Google Summer of Code does — mentoring organizations and student interns, only in our case, the community will vote on which mentoring organizations get slots. Students will be paid a stipend of $5000, and we’ll raise the number of student slots as contributions come in.</p>
</div>      
<div id="paypal">
  <h5><a href="http://twitter.com/tenderlove">Aaron</a></h5>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post"> <input type="hidden" name="cmd" value="_s-xclick"> <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHPwYJKoZIhvcNAQcEoIIHMDCCBywCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYDBGfvhNbg5b6FlxmAHtJDoHqNp9UfBmlFOlhyR+FkzJ4z41yh0uyP7JARGaCqvLQ2nW40bjJkHbYYziKCofe8GsXyyareuX8UYA0yy4dCW1+kooHuD2wUgz8HlqcjIzEXYXNhh2JsvsR1jz77WYKMpd4NoruT8iJi5U4UVBMlqajELMAkGBSsOAwIaBQAwgbwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIYkkZYmmjX4GAgZjtPABBuSpbbJS7eC3REWjCxXnhtVS5iJQnBXOzD+Kfx4DvqzQqQ+VEloJxJL8bFDFuOYDqHzdAVjcNoeK4O7xRjDBKSJ7ZMdBvnlB8c88WLYoVmr+2VzdTT5SW97IWLMkTu84gXG48jq4QDoKO0u/S7FpgqNZoxBjvTDE9dzVASM5VLmCiiwnDbpx0sXmX3MMHs1KOa4GTIaCCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTEwMDMyMzIxMTIzNVowIwYJKoZIhvcNAQkEMRYEFNHC/Cx9YZ6OBpBLZ1jMe9CsneObMA0GCSqGSIb3DQEBAQUABIGABwmP8a8XDaSJWYBKMehFB1EAa+6HNNiQIJAd3LbiIBB82opVyp0lx/bVFVenhoQ2UD9z5/nnxLoBREoh+MjVHNXX9J4XJGwlM813X1f8XWTsWXKBpPcfVIJ5fTp160ibX/Y6kuBuDoYVgYtI2VtLq6YZICEHYjCloCq+ZLwi9kw=-----END PKCS7----- "> <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"> <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1"> </form> 
  <b>Donate this week and <a href="http://twitter.com/tenderlove">Aaron</a> will match your contribution!</b>
</div>     
<div class="section"> 
  <h2>Frequently Asked Questions</h2> 
  <ol>
    <li>
      <h3>What is Ruby Summer of Code?</h3>
        <p>
        Ruby Summer of Code is a student internship program, modeled after Google’s Summer of Code, designed to help fund student development of Ruby coding projects in Summer 2010.
        </p>
    </li>
    <li>
      <h3>What are the goals of this program?</h3>
        <p>
        The goals of the program are to help get students engaged in Ruby development and the Ruby community, and to continue the tradition of great student Ruby projects completed in past summers as part of GSoC.
        </p>
    </li>
    <li>
      <h3>How many mentoring organizations and students are expected to take part in the program?</h3>
        <p>
        The number of mentoring organizations depends on the number of sponsors the program receives; all funding will go towards adding more mentors and students to the program. If you or your company would be interested in helping out, contact us.
        </p>
    </li>
    <li>
      <h3>When can I apply?</h3>
        <p>The mentor application window is March 24th to April 2nd. The student application window is April 5th to April 23rd. 
        </p>
    </li>
    <li>
      <h3>How does the program work?</h3>
        <p>
          The Ruby Summer of Code program is designed to help fund student development of Ruby and/or Rails projects in the summer of 2010. Accepted students will be matched up with accepted mentors and will have two months to complete their summer projects. Students will undergo a project evaluation midway through the summer (dates to be announced), and those showing suitable progress will receive 50% of their student stipend. At the close of the work window, projects will undergo final evaluations, and students who successfully completed their projects will receive the remainig 50% of their stipend. 
        </p>
    </li>
    <li>
      <h3>How do evaluations work?</h3>
        <p>
          Projects will be evaluated by each student's mentor, and then reviewed by the larger mentor pool. Evaluations will be individually tailored based on the pre-determined agreed upon objectives and deliverables of each project.
        </p>  
    </li>
  </ol>
</div>