<div id="preamble">
  <img src="/images/ppl/m-aagarwal.jpg"/>
		<h2>Amit Agarwal</h2>
		<br />
		<h3>Mentor, Project #16</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/amitagarwal">amitagarwal</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/amitdotagarwal">@amitdotagarwal</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: Working in the IT industry for more than 30 months, with the past 6 months, working as Senior Software Engineer. Working on various open source technology stacks with specific focus and expertise on Ruby and it’s various frameworks like Ruby on Rails, Merb, etc. Have been involved with various genres of software development cycle, including solution design, development, automated testing and deployment. Have been involved with offshore product development mode for both SME and Enterprise Solutions. In my current position, I am also responsible for Ruby standard compliance across the applications being developed in the organization, setting the code review standards and ensure parameter sets for vertical and horizontal scaling.
  </p>
</div>
  
