<div id="preamble">
  <img src="/images/ppl/m-bbommarito.jpg"/>
		<h2>Brian Bommarito</h2>
		<h3></h3>
		<br />
		<h3>Mentor, Project #2</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/bommaritobrianmatthew">bommaritobrianmatthew</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/naked_coder">@naked_coder</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: Working with Rails for 5 years now, starting back in early 2005, before that I was mostly an enterprise developer working with .Net platform, Java, and even some AI for report generation.</p>
    <br />
    <p>Most recently, I have been involved with a number of startups as a backend coder, mostly dealing with large scalability concerns as well as reporting systems.
  </p>
</div>
  
