<div id="preamble">
  <img src="/images/ppl/m-cclausen.jpg"/>
		<h2>Caleb Clausen</h2>
		<h3>Laytonville, CA</h3>
		<br />
		<h3>Mentor, Project #17</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/coatl">coatl</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: My background is in embedded systems and network programming. I started dabbling in Ruby in 2003, and have been using it seriously since 2005. I have strong interests in DSLs, metaprogramming, parsing and declarative languages. I am the author of a number of interesting but little-known libraries, such as: Reg, a pattern matching language for Ruby data structures; RedParse, a complete parser for Ruby written in Ruby; and RubyMacros, a lisp-like macro facility for Ruby.
  </p>
</div>
  
