<div id="preamble">
  <img src="/images/ppl/m-clerche.jpg"/>
		<h2>Carl Lerche</h2>
		<h3>San Francisco, CA</h3>
		<br />
		<h3>Mentor, Project #9, 20</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/carllerche">carllerche</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/carllerche">@carllerche</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: Until Carl Lerche discovered Ruby on Rails in 2005 he thought he would never do web development again. It was Ruby that lured him back into programming and open source development. Currently, he spends much of his time at Engine Yard contributing to Rails, and in his free time, to many side projects.
  </p>
</div>
  
