<div id="preamble">
  <img src="/images/ppl/m-cnutter.jpg"/>
		<h2>Charles Nutter</h2>
		<h3>Minneapolis, MN</h3>
		<br />
		<h3>Mentor, Project #6, 7</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/headius">headius</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/headius">@headius</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: Charles Oliver Nutter has been co-lead of the JRuby project for the past four years, working on performance and Java integration, and helping to coordinate community efforts. During that time JRuby has become a premier platform for Ruby users, allowing both a gateway to Java-centric organizations as well as an excellent Ruby implementation. Charles hopes to expand JRuby’s success to other JVM languages, building the JVM into the best platform for multi-language development. Charlie is employed working on JRuby full time at <a href="http://www.engineyard.com">Engine Yard</a>.
  </p>
</div>
  
