<div id="preamble">
  <img src="/images/ppl/m-credinger.jpg"/>
		<h2>Chris Redinger</h2>
		<h3>Durham, NC</h3>
		<br />
		<h3>Mentor, Project #15</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/redinger">redinger</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/redinger">@redinger</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: An Extreme, Behavior-Driven Software Developer, Christopher has been programming since the mid-90s, when he cut his teeth on Perl while working his way through college in Maine. After putting in his time in the dot-com world, with the stock option wallpaper to prove it, he made the jump to consulting. During that time he used the myriad of available Java based web frameworks and came to the conclusion that there must be a better way. That better way for him started with the "Agile Manifesto" and has led him to Relevance, Inc. At Relevance he continues to refine ideas such as those in "Getting Real" and the Lean Startup movement, and how best to apply these in the Ruby and Clojure ecosystems. Every day is about continuous improvement and the obliteration of waste.
  </p>
</div>
  
