<div id="preamble">
  <img src="/images/ppl/m-dbussink.jpg"/>
		<h2>Dirkjan Bussink</h2>
		<h3>Netherlands</h3>
		<br />
		<h3>Mentor, Project #9</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/dbussink">dbussink</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/dbussink">@dbussink</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: I work for the Dutch company Nedap and have been working professionally with Ruby for over 4 years. I’ve contributed to Rails and Merb in the past and am currently the maintainer of DataObjects and contributes to DataMapper and Rubinius on a regular basis.
  </p>
</div>
  
