<div id="preamble">
  <img src="/images/ppl/m-dstevenson.jpg"/>
		<h2>David Steveson</h2>
		<h3>San Francisco, CA</h3>
		<br />
		<h3>Mentor, Project #12</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/dsboulder">dsboulder</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/dsboulder">@dsboulder</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: I've been building ruby on rails applications for about 4 years, starting with ELC technologies and ending up as an agile consultant at pivotal labs. During this time I've worked on 20 or more projects in a variety of fields. Because I've been working in this language for so long, I'm often in a position to teach my team and regularly enjoy doing so (this is easy because we pair 40 hours a week at work). I also love to build fun projects at home. I got very interested in sandboxing ruby code and gave a talk at Golden Gate Ruby Conference about it. Working for Pivotal Labs, I'm also interested in the process of development, specifically how and when we write tests for our code.
  </p>
</div>
  
