<div id="preamble">
  <img src="/images/ppl/m-emo.jpg"/>
		<h2>Erik Michaels-Ober</h2>
		<h3>San Francisco, CA</h3>
		<br />
		<h3>Mentor, Project #14/20</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/sferik">sferik</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/sferik">@sferik</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: Co-founder of 140 Proof: the ad network for Twitter developers. Open-source contributor. Vim user.
  </p>
</div>
  
