<div id="preamble">
  <img src="/images/ppl/m-ephoenix.jpg"/>
		<h2>Evan Phoenix</h2>
		<h3>Los Angeles, CA</h3>
		<br />
		<h3>Mentor, Project #18</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/coatl">evanphx</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/evanphx">evanphx</a>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: Evan started Rubinius in 2006 as a new Ruby interpreter, most of which is written in Ruby, which means Ruby developers can contribute to the language. He is currently employed by <a href="http://www.engineyard.com">Engine Yard</a>.
  </p>
</div>
  
