<div id="preamble">
  <img src="/images/ppl/m-etagua.png"/>
		<h2>Emilio Tagua</h2>
		<h3>Mendoza, Argentina</h3>
		<br />
		<h3>Mentor, Project #9, 12</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/miloops">miloops</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/miloops">@miloops</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: Emilio Tagua&mdash;aka miloops&mdash;is an Argentinian entrepreneur, developer, open source contributor and Rails evangelist. Cofounder of Eventioz. He has been using Rails since 2006 and contributing since early 2008. Participated in GSoC 2009 successfully integrating Arel into ActiveRecord.
  </p>
</div>
  
