<div id="preamble">
  <img src="/images/ppl/m-fverrot.jpg"/>
		<h2>Franck Verrot</h2>
		<h3>Lyon, France</h3>
		<br />
		<h3>Mentor, Project #3</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/Cesario">Cesario</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/CesarioGW">@CesarioGW</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: Started to work for Volvo in 2005, .NET/Java environment. I discovered Ruby almost and the same time and tried for 4 years to convert the executive team worldwide (Lyon, France - Gotherburg - Sweden and Greensboro, US)... but no success (one Proof of Concept has been done though, but the dev ops were not ready for Rails and JRuby on AS400 JVM's was a show-stopper).</p>
    <p>Anyhoo, I changed job, become the CTO of Studio HB (a french web agency), and lead the development and operations man power in that company.</p>
    <p>Regarding my contributions, and being the lead software architect, I am responsible for open sourcing (but this takes time as we want to make sure the code is 100% quality) Studio HB's libraries and do some libraries on my own time. 
  </p>
</div>
  
