<div id="preamble">
  <img src="/images/ppl/m-gmathieson.jpg"/>
		<h2>Graeme Mathieson</h2>
		<h3>Edinburgh, Scotland</h3>
		<br />
		<h3>Mentor, Project #8</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/mathie">mathie</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/mathie">@mathie</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: Graeme has been making a nuisance of himself on the Internet and in various open source communities since 1992 when he managed to blag a 9k6 modem from school. He didn't discover Ruby until late 2005 when he was frustrated with Zope (Python's only web framework at the time) and heard about this thing called Rails.</p>
    <br />
    <p>Graeme was so impressed with Rails (and Ruby) that he quit his day job and started his own company, Rubaidh, so he could work with it full time. Since then he's worked with a variety of companies ‚ from tiny startups to household names‚ using Ruby to deliver reliable, usable, secure software. He also helps organize the Scottish Ruby Conference and founded the Scottish Ruby User Group so he likes to think he's quite community focused.</p>
    <br />
    <p>More than 4 years later, he still loves working with Ruby (and Rails). His attention span isn't usually that long, so it must be good stuff.</p>
  </p>
</div>
  
