<div id="preamble">
  <img src="/images/ppl/m-gprudner.jpg"/>
		<h2>Gustin Prudner</h2>
		<h3>Floyd, VA</h3>
		<br />
		<h3>Mentor, Project #10</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/gustin">gustin</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/gustin">@gustin</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: I have been using Ruby since the pragmatic programmer book first came out in 1999. My first Ruby program was a parser that I used to analyze decorated C++ objects and generate C++ meta-template to enabling a flexible semi-static type system for low level networking.</p>
    <br />
    <p>I am the foundling fellow of entryway software, we have been building Ruby applications for the last 3 years. In this time we have launched dozens of successful projects ranging from projects taking hundreds of hours to those spanning thousand of hours.</p>
    <br />
    <p>With 14 years of experience, I left a position as Director of Enterprise Architecture at a large international firm to help form entryway. The single premise of entryway is to wield technology in the support of good things both fun and world changing.</p>
    <br />
    <p>Ruby has been instrumental to the success of our company and brought immeasurable amounts of personal and company wide happiness to our craft, we are happy to give back.
  </p>
</div>
  
