<div id="preamble">
  <img src="/images/ppl/m-jcasimir.jpg"/>
		<h2>Jeff Casimir</h2>
		<h3>Washington, DC</h3>
		<br />
		<h3>Mentor, Project #10, 15</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/jcasimir">jcasimir</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/j3">@j3</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: I spent 6 years teaching high school computer science and as a middle school vice principal, so I know a lot about working with young people and helping them develop their expertise.</p>
    <br />
    <p>I've been using Radiant for a little over a year and would really like to help push it forward. Jim Gay, the current lead developer, is here in the DC area and we'd likely coordinate on mentoring the project.</p/>
  </p>
</div>
  
