<div id="preamble">
  <img src="/images/ppl/missing.jpg"/>
		<h2>Jim Gay</h2>
		<h3>Arlington, VA</h3>
		<br />
		<h3>Mentor, Project #5</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/saturnflyer">saturnflyer</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/saturnflyer">@saturnflyer</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: Jim Gay is the founder of Saturn Flyer LLC, a design and development studio that bridges the gap between graphic designers and application developers.</p>
    <br />
    <p>From 2000 to 2005 he was a Senior Web Developer with WFI (now Kratos Defense & Security Solutions) where he lead and wrote guidelines for application interface design and was the resident Section 508 expert.</p>
    <br />
    <p>Currently he enjoys a wonderful set of clients that include non-profit organizations, universities, government agencies, small businesses and large consulting groups.</p>
    <br />
    <p> He has worked on marketing campaigns with clients such as MicroStrategy, developed innovative web interfaces that were referred to as a “paradigm shift” by the CIO of the Defence Contract Management Agency, and has helped his clientele around the country with branding, web design, and print collateral.</p>
    <br />
    <p>His work experience has given him the chance to be an award-winning graphic designer. Graphic Design USA Magazine has awarded Gay 4 American Graphic Design Awards, and his work has been published in HOW Magazine, “LogoLounge: 2,000 International Identities by Leading Designers”, and “LogoLounge Master Library: Animals and Mythology.”</p>
    <br />
    <p>Gay has developed applications in Ruby, ColdFusion, PHP, XML/XSLT, ActionScript, HTML/CSS/Javascript and worked MySQL, PostgreSQL, and Oracle databases. Preferring Ruby, he is the Lead Developer of RadiantCMS, an open-source content management system based in Ruby on Rails and has written and released many extensions to the system as open-source contributions to the community.</p>
    <br />
    <p>Jim Gay is a happy husband and father of 2 sons and enjoys nothing more than being with his family.
  </p>
</div>
  
