<div id="preamble">
  <img src="/images/ppl/m-jvalim.png"/>
		<h2>José Valim</h2>
		<h3>Poland</h3>
		<br />
		<h3>Mentor, Project #5</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/josevalim">josevalim</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/josevalim">@josevalim</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: José Valim (josevalim) is the lead-developer and co-founder of Plataforma Tec. He started working with Rails in late 2006 and began contributing actively after his Google Summer of Code project in 2009. After his Machine Learning master's degree in Italy, he's been flying constantly between Brazil and Poland. Some say that it is his "eureka" time to code and bring new open-source projects to life. Check for yourself what he's up to on his company's blog.
  </p>
</div>
  
