<div id="preamble">
  <img src="/images/ppl/m-kmurata.jpg"/>
		<h2>Kenta Murata</h2>
		<h3>Sapporo, Japan</h3>
		<br />
		<h3>Mentor, Project #4</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/mrkn">mrkn</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/mrkn">@mrkn</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: I'm a committer of CRuby.
  </p>
</div>
  
