<div id="preamble">
  <img src="/images/ppl/m-mbleigh.jpg"/>
		<h2>Michael Bleigh</h2>
		<h3>Lee's Summit, MO</h3>
		<br />
		<h3>Mentor, Project #5</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/mbleigh">mbleigh</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/mbleigh">@mbleigh</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: Michael is the Creative Director and Open Source Activist for Intridea, Inc. He is an active member of the Ruby community having released more than 12 open source projects including tweetstream and acts-as-taggable-on for Rails. Michael has also presented at a number of events including RailsConf, RailsConf Europe, Confoo, and the Great Lakes Ruby Bash.
  </p>
</div>
  
