<div id="preamble">
  <img src="/images/ppl/m-mdraper.jpg"/>
		<h2>Matthew Draper</h2>
		<h3>Adelaide, Australia</h3>
		<br />
		<h3>Mentor, Project #2</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/matthewd">matthewd</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/_matthewd">@_matthewd</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: Matthew Draper isa  Technical Manager for MindVision Interactive in Adelaide, Australia. He mostly codes in Ruby and JS, with some C (including getting them talking to each other&mdash;ruby-mozjs, johnson). He's equally happy coding a genetic algorithm in C, modifying a router's BGP config, working on a ruby web app, or configuring a mail server.
  </p>
</div>
  
