<div id="preamble">
  <img src="/images/ppl/m-mjones.jpg"/>
		<h2>Matt Jones</h2>
		<h3>Columbus, OH</h3>
		<br />
		<h3>Mentor, Project #1, 3</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/al2o3cr">al2o3cr</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/al2o3cr">@al2o3cr</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: I've been working with Ruby on Rails since mid-2006, and contributed a number of major patches to the 2.x config.gem system and other components. I'm also an active committer for the Hobo framework (hobocentral.net).</p>
    <br />
    </p>At work, I build and maintain Rails applications for a wide variety of clients, along with some legacy PHP maintenance.
  </p>
</div>
  
