<div id="preamble">
  <img src="/images/ppl/m-mmay.jpg"/>
		<h2>Martin May</h2>
		<h3>Denver, CO</h3>
		<br />
		<h3>Mentor, Project #5</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/HiroProt">HiroProt</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/HiroProt">@HiroProt</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: Martin is a co-founder of Brightkite, a location-based social networking company founded as part of the 2007 TechStars program, and acquired by Limbo Inc. in 2009. His primary areas of interest are geospatial services and mobile location technology. Martin has worked in R&D and engineering positions at various high-profile technology companies and holds a BS in Computer Science from the University of Aberdeen in Scotland. In 2009, Martin was named one of BusinessWeek's Best Young Tech Entrepreneurs.
  </p>
</div>
  
