<div id="preamble">
  <img src="/images/ppl/m-mperham.jpg"/>
		<h2>Mike Perham</h2>
		<h3>Austin, TX</h3>
		<br />
		<h3>Mentor, Project #16</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/mperham">mperham</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/mperham">@mperham</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: Technologist and Rubyist at OneSpot, previously with FiveRuns. I work in Ruby and with memcached, eventmachine, cassandra, mysql and other pieces of infrastructure used to build large-scale web sites.</p>
    <br />
    <p>Read more about me at <a href="http://mikeperham.com">http://mikeperham.com</a>.
  </p>
</div>
  
