<div id="preamble">
  <img src="/images/ppl/m-sklabnik.jpg"/>
		<h2>Steve Klabnik</h2>
		<h3>Pittsburgh, PA</h3>
		<br />
		<h3>Mentor, Project #15</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/steveklabnik">steveklabnik</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/steveklabnik">@steveklabnik</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: I've been programming since I was 7 years old, but have only been doing Ruby for the past two years. I have a startup company that's built on Rails, and I'm the current maintainer of Hackety Hack.
  </p>
</div>
  
