<div id="preamble">
  <img src="/images/ppl/m-smei.jpg"/>
		<h2>Sarah Mei</h2>
		<h3>San Francisco, CA</h3>
		<br />
		<h3>Mentor, Project #15</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/sarahmei">sarahmei</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/sarahmei">@sarahmei</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: Sarah Mei has spent most of the last dozen years writing code, and most of the last three doing Ruby. In 2009, she co-founded RailsBridge, a nonprofit dedicated to making the Ruby and Rails communities welcoming to all. Since then, her Open Workshop project has sponsored five events in three cities and introduced over 200 people to Rails, Ruby, and in some cases, programming. Sarah is a developer at Pivotal Labs and has two kids, a cat, seventeen computers in various states of repair, and one very understanding husband.
  </p>
</div>
  
