<div id="preamble">
  <img src="/images/ppl/m-ushyouhei.jpg"/>
		<h2>Shyouhei Urabe</h2>
		<h3>Tokyo, Japan</h3>
		<br />
		<h3>Mentor, Project #4</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/shyouhei">shyouhei</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/shyouhei">@shyouhei</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: Urabe Shyouhei is a Ruby core developer/committer, and the release manager of MRI 1.8.7. He works on <a href="http://netlab.jp">http://netlab.jp</a>, where Matz himself will occasionally lend a hand.
  </p>
</div>
  
