<div id="preamble">
  <img src="/images/ppl/m-utatsuhiro.jpg"/>
		<h2>Ujihisa Tatsuhiro</h2>
		<h3>Vancouver, Canada</h3>
		<br />
		<h3>Mentor, Project #3, 4</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/ujihisa">ujihisa</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/ujm">@ujm</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: Ujihisa Tatsuhiro is a RubySpec committer. He is a native Japanese speaker who is also fluent in English. He is a VIM user, Termtter committer, and is interested in LLVM. In 2009 he spoke at RubyConf. 
  </p>
</div>
  
