<div id="preamble">
  <img src="/images/ppl/m-wseguin.jpg"/>
		<h2>Wayne Seguin</h2>
		<h3>Buffalo, NY</h3>
		<br />
		<h3>Mentor, Project #2</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/wayneeseguin">wayneeseguin</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/wayneeseguin">@wayneeseguin</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: Wayne has been Working With Rails for well over four years now. Wayne has a bachelors degree in Computer Science and a Masters degree in Mathematics. Wayne's hobbies include spending time with his children, hacking on open source projects, Magic the Gathering and Disc Golf.
  </p>
</div>
  
