<div id="preamble">
  <img src="/images/ppl/m-ykatz.jpg"/>
		<h2>Yehuda Katz</h2>
		<h3>San Francisco, CA</h3>
		<br />
		<h3>Mentor, Project #8, 14/20</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/wycats">wycats</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/wycats">@wycats</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: Yehuda Katz is currently employed by <a href="http://www.engineyard.com/">Engine Yard</a>, and works full time as a Core Team Member on the Rails project. He is the co-author of <a href="http://www.manning.com/affiliate/idevaffiliate.php?id=485_93">jQuery in Action</a> and the upcoming <a href="http://www.manning.com/affiliate/idevaffiliate.php?id=485_145">Rails 3 in Action</a>, and is a contributor to <a href="http://www.manning.com/affiliate/idevaffiliate.php?id=485_96">Ruby in Practice<a/>.</p>
    <br />
    <p>He spends most of his time hacking on Rails, but also on other Ruby community projects, like <a href="http://rubini.us/">Rubinius</a> and <a href="http://datamapper.org/">Datamapper<a/>. And when the solution doesn't yet exist, he'll try his hand at creating one - as such, he's also created projects like <a href="http://github.com/wycats/thor/">Thor</a> and <a href="http://github.com/sam/do">DO.rb</a>.</p>
  </p>
</div>
  
