<!-- <div id="preamble">
  <h2>Projects</h2>
    <p>
    </p>
</div> -->
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <h2>Project #1: Out of the Box Mailer</h2>
    <p>   
    The objective is to create an incoming mail processing microframework (with POP, IMAP, and MTA support), that works with Rails "out of the box," and that is compatible with other popular Ruby web frameworks, complete with a routing DSL and bounce detection.
  </p>
  <div class="peeps">
    <div class="student">
      <a href="/s-jrudenberg"><img src="/images/ppl/s-jrudenberg.jpg" width="85px" /></a>
      <ul>
        <li>Jonathan Rudenberg</li>
        <li><b>Student</b></li>
        <li>Ottawa, Ontario, Canada</li>
      </ul> 
    </div>
    <div class="mentor">
      <a href="/m-ssoroka"><img src="/images/ppl/m-ssoroka.jpg" width="85px" /></a>
      <ul>
        <li>Steven Soroka</li>
        <li><b>Mentor (Primary)</b></li>
        <li>Winnipeg, Manitoba, Canada</li>
      </ul> 
    </div>
    <div class="mentor">
      <a href="/m-mjones"><img src="/images/ppl/m-mjones.jpg" width="85px" /></a>
      <ul>
        <li>Matt Jones</li>
        <li><b>Mentor</b></li>
        <li>Columbus, OH</li>
      </ul>   
    </div>
  </div>
</div>

<div class="section">
  <h2>Project #2: Simpler Ruby Deployment</h2>
    <p>   
   The goal of this project is to make it trivial to deploy applications under multiple environments (e.g. Ruby interpreters) in a server setting. In doing so, this project will involve working on improving existing tools (such as RVM and bundler, possibly also extensions for tools such as chef and puppet) as well as creating new tools where necessary. Ideally, at the end of the period it will be simpler for developers and companies to test out their applications internally on different Ruby implementations (including a prebuilt server set of virtual machine images for testing purposes).
  </p>
  <div class="peeps">
    <div class="student">
      <a href="/s-dlaycock"><img src="/images/ppl/s-dlaycock.jpg" width="85px" /></a>
      <ul>
        <li>Darcy Laycock</li>
        <li><b>Student</b></li>
        <li>Perth, Western Australia</li>
      </ul> 
    </div>
    <div class="mentor">
      <a href="/m-wseguin"><img src="/images/ppl/m-wseguin.jpg" width="85px" /></a>
      <ul>
        <li>Wayne Seguin</li>
        <li><b>Mentor (Primary)</b></li>
        <li>Buffalo, NY</li>
      </ul> 
    </div>
    <div class="mentor">
      <a href="/m-mdraper"><img src="/images/ppl/m-mdraper.jpg" width="85px" /></a>
      <ul>
        <li>Matthew Draper</li>
        <li><b>Mentor</b></li>
        <li>Adelaide, Australia</li>
      </ul>   
    </div>
    <div class="mentor">
      <a href="/m-bbommarito"><img src="/images/ppl/m-bbommarito.jpg" width="85px" /></a>
      <ul>
        <li>Brian Bommarito</li>
        <li><b>Mentor</b></li>
      </ul>   
    </div>
  </div>
</div>

<div class="section">
  <h2>Project #3: Live Code Reloading</h2>
    <p>   
   When writing Rails plugins, many developers run into issues with the class reloader. Especially since Rails raises an error whenever it detects that an old class is still in use. Not having to program with the reloader in mind would be an advantage. My plan is to refactor and improve the current class reloader, so it will offer multiple reloading strategies, deciding at runtime what strategy to use for which class.
  </p>
  <div class="peeps">
    <div class="student">
      <a href="/s-khaase"><img src="/images/ppl/s-khaase.png" width="85px" /></a>
      <ul>
        <li>Konstantin Haase</li>
        <li><b>Student</b></li>
        <li>Berlin, Germany</li>
      </ul> 
    </div>
    <div class="mentor">
      <a href="/m-jkemper"><img src="/images/ppl/m-jkemper.jpg" width="85px" /></a>
      <ul>
        <li>Jeremy Kemper</li>
        <li><b>Mentor (Primary)</b></li>
        <li>San Diego, CA</li>
      </ul> 
    </div>
    <div class="mentor">
      <a href="/m-utatsuhiro"><img src="/images/ppl/m-utatsuhiro.jpg" width="85px" /></a>
      <ul>
        <li>Ujihisa Tatsuhiro</li>
        <li><b>Mentor</b></li>
        <li>Vancouver, Canada</li>
      </ul>   
    </div>
    <div class="mentor">
      <a href="/m-fverrot"><img src="/images/ppl/m-fverrot.jpg" width="85px" /></a>
      <ul>
        <li>Franck Verrot</li>
        <li><b>Mentor</b></li>
        <li>Lyon, France</li>
      </ul>   
    </div>
    <div class="mentor">
      <a href="/m-mjones"><img src="/images/ppl/m-mjones.jpg" width="85px" /></a>
      <ul>
        <li>Matt Jones</li>
        <li><b>Mentor</b></li>
        <li>Columbus, OH</li>
      </ul>   
    </div>
  </div>
</div>

<div class="section">
  <h2>Project #4: NArray on OpenCL</h2>
    <p>   
   In this project, we will develop NArray on OpenCL that utilizes hardware resources such as GPU. The goal of our project is to translate NArray from C to OpenCL. The NArray has the characters that match well as OpenCL (GPU) applications. In addition, OpenCL is hardware agnostic so that the programs using OpenCL should run on various CPUs/GPUs. This means the translation of NArray to OpenCL will not detract the feature of the Ruby portability. Therefore, this project allows Ruby programmers to facilitate implementing and executing heavily calculation-oriented applications.
  </p>
  <div class="peeps">
    <div class="student">
      <a href="/s-ktanimura"><img src="/images/ppl/s-ktanimura.jp" width="85px" /></a>
      <ul>
        <li>Kazuyuki Tanimura</li>
        <li><b>Student</b></li>
        <li>Irvine, CA</li>
      </ul> 
    </div>
    <div class="mentor">
      <a href="/m-utatsuhiro"><img src="/images/ppl/m-utatsuhiro.jpg" width="85px" /></a>
      <ul>
        <li>Ujihisa Tatsuhiro</li>
        <li><b>Mentor (Primary)</b></li>
        <li>Vancouver, Canada</li>
      </ul>   
    </div>
    <div class="mentor">
      <a href="/m-ushyouhei"><img src="/images/ppl/m-ushyouhei.jpg" width="85px" /></a>
      <ul>
        <li>Urabe Shyouhei</li>
        <li><b>Mentor</b></li>
        <li>Tokyo, Japan</li>
      </ul>   
    </div>
    <div class="mentor">
      <a href="/m-kmurata"><img src="/images/ppl/m-kmurata.jpg" width="85px" /></a>
      <ul>
        <li>Kenta Murata</li>
        <li><b>Mentor</b></li>
        <li>Sapporo, Japan</li>
      </ul>   
    </div>
  </div>
</div>

<div class="section">
  <h2>Project #5: Bringing More REST to Ruby with Restfulie</h2>
    <p>   
      REST is an architectural style for distributed hypermedia systems. It's the style that guides the web architecture, and by developing applications that conform to its constraints we can enjoy many of the features that make the web successful, such as scalability, generality of interfaces, and intermediary components to reduce interaction latency, enforce security, and encapsulate legacy systems.</p>
    <br />
    <p>The goal of this project is to make it easier to write RESTful web applications and enjoy its advantages. This will be done on top of Restfulie, a library that help you write hypermedia-aware clients and servers. Rails brought REST to the Ruby world with the notion of resources and crud through HTTP, Restfulie goes one step further. I'll be working especially towards making Restfulie framework-agnostic and improving REST support in Rails.
  </p>
  <div class="peeps">
    <div class="student">
      <a href="/s-esouza"><img src="/images/ppl/s-esouza.png" width="85px" /></a>
      <ul>
        <li>Elomar Souza</li>
        <li><b>Student</b></li>
        <li>Natal, Brazil</li>
      </ul> 
    </div>
    <div class="mentor">
      <a href="/m-jvalim"><img src="/images/ppl/m-jvalim.png" width="85px" /></a>
      <ul>
        <li>José Valim</li>
        <li><b>Mentor (Primary)</b></li>
        <li>Poland</li>
      </ul>   
    </div>
    <div class="mentor">
      <a href="/m-mbleigh"><img src="/images/ppl/m-mbleigh.jpg" width="85px" /></a>
      <ul>
        <li>Michael Bleigh</li>
        <li><b>Mentor</b></li>
        <li>Lee's Summit, MO</li>
      </ul>   
    </div>
    <div class="mentor">
      <a href="/m-jgay"><img src="/images/ppl/m-jgay.jpg" width="85px" /></a>
      <ul>
        <li>Jim Gay</li>
        <li><b>Mentor</b></li>
        <li>Arlington, VA</li>
      </ul>   
    </div>
    <div class="mentor">
      <a href="/m-mmay"><img src="/images/ppl/m-mmay.jpg" width="85px" /></a>
      <ul>
        <li>Martin May</li>
        <li><b>Mentor</b></li>
        <li>Denver, CO</li>
      </ul>   
    </div>
  </div>
</div>