<!-- <div id="preamble">
  <h2>Projects</h2>
    <p>
    </p>
</div> -->
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <h2>Project #1: Out of the Box Mailer</h2>
    <p>   
    The objective is to create an incoming mail processing microframework (with POP, IMAP, and MTA support), that works with Rails "out of the box," and that is compatible with other popular Ruby web frameworks, complete with a routing DSL and bounce detection.
  </p>
  <div class="peeps">
    <div class="student">
      <a href="/s-jrudenberg"><img src="/images/ppl/s-jrudenberg.jpg" width="85px" /></a>
      <ul>
        <li>Jonathan Rudenberg</li>
        <li><b>Student</b></li>
        <li>Ottawa, Ontario, Canada</li>
      </ul> 
    </div>
    <div class="mentor">
      <a href="/m-ssoroka"><img src="/images/ppl/m-ssoroka.jpg" width="85px" /></a>
      <ul>
        <li>Steven Soroka</li>
        <li><b>Mentor (Primary)</b></li>
        <li>Winnipeg, Manitoba, Canada</li>
      </ul> 
    </div>
    <div class="mentor">
      <a href="/m-mjones"><img src="/images/ppl/m-mjones.jpg" width="85px" /></a>
      <ul>
        <li>Matt Jones</li>
        <li><b>Mentor</b></li>
        <li>Columbus, OH</li>
      </ul>   
    </div>
  </div>
</div>

<div class="section">
  <h2>Project #2: Simpler Ruby Deployment</h2>
    <p>   
   The goal of this project is to make it trivial to deploy applications under multiple environments (e.g. Ruby interpreters) in a server setting. In doing so, this project will involve working on improving existing tools (such as RVM and bundler, possibly also extensions for tools such as chef and puppet) as well as creating new tools where necessary. Ideally, at the end of the period it will be simpler for developers and companies to test out their applications internally on different Ruby implementations (including a prebuilt server set of virtual machine images for testing purposes).
  </p>
  <div class="peeps">
    <div class="student">
      <a href="/s-dlaycock"><img src="/images/ppl/s-dlaycock.png" width="85px" /></a>
      <ul>
        <li>Darcy Laycock</li>
        <li><b>Student</b></li>
        <li>Perth, Western Australia</li>
      </ul> 
    </div>
    <div class="mentor">
      <a href="/m-wseguin"><img src="/images/ppl/missing.jpg" width="85px" /></a>
      <ul>
        <li>Wayne Seguin</li>
        <li><b>Mentor (Primary)</b></li>
        <li>Buffalo, NY</li>
      </ul> 
    </div>
    <div class="mentor">
      <a href="/m-mdraper"><img src="/images/ppl/m-mdraper.jpg" width="85px" /></a>
      <ul>
        <li>Matthew Draper</li>
        <li><b>Mentor</b></li>
        <li>Adelaide, Australia</li>
      </ul>   
    </div>
    <div class="mentor">
      <a href="/m-bbommarito"><img src="/images/ppl/m-bbommarito.jpg" width="85px" /></a>
      <ul>
        <li>Brian Bommarito</li>
        <li><b>Mentor</b></li>
      </ul>   
    </div>
  </div>
</div>

<div class="section">
  <h2>Project #3: Live Code Reloading</h2>
    <p>   
   When writing Rails plugins, many developers run into issues with the class reloader. Especially since Rails raises an error whenever it detects that an old class is still in use. Not having to program with the reloader in mind would be an advantage. My plan is to refactor and improve the current class reloader, so it will offer multiple reloading strategies, deciding at runtime what strategy to use for which class.
  </p>
  <div class="peeps">
    <div class="student">
      <a href="/s-khaase"><img src="/images/ppl/s-khaase.png" width="85px" /></a>
      <ul>
        <li>Konstantin Haase</li>
        <li><b>Student</b></li>
        <li>Berlin, Germany</li>
      </ul> 
    </div>
    <div class="mentor">
      <img src="/images/ppl/m-jkemper.jpg" width="85px" />
      <ul>
        <li>Jeremy Kemper</li>
        <li><b>Mentor (Primary)</b></li>
        <li>San Diego, CA</li>
      </ul> 
    </div>
    <div class="mentor">
      <a href="/m-utatsuhiro"><img src="/images/ppl/m-utatsuhiro.jpg" width="85px" /></a>
      <ul>
        <li>Ujihisa Tatsuhiro</li>
        <li><b>Mentor</b></li>
        <li>Vancouver, Canada</li>
      </ul>   
    </div>
    <div class="mentor">
      <a href="/m-fverrot"><img src="/images/ppl/m-fverrot.jpg" width="85px" /></a>
      <ul>
        <li>Franck Verrot</li>
        <li><b>Mentor</b></li>
        <li>Lyon, France</li>
      </ul>   
    </div>
    <div class="mentor">
      <a href="/m-mjones"><img src="/images/ppl/m-mjones.jpg" width="85px" /></a>
      <ul>
        <li>Matt Jones</li>
        <li><b>Mentor</b></li>
        <li>Columbus, OH</li>
      </ul>   
    </div>
  </div>
</div>

<div class="section">
  <h2>Project #4: NArray on OpenCL</h2>
    <p>   
   In this project, we will develop NArray on OpenCL that utilizes hardware resources such as GPU. The goal of our project is to translate NArray from C to OpenCL. The NArray has the characters that match well as OpenCL (GPU) applications. In addition, OpenCL is hardware agnostic so that the programs using OpenCL should run on various CPUs/GPUs. This means the translation of NArray to OpenCL will not detract the feature of the Ruby portability. Therefore, this project allows Ruby programmers to facilitate implementing and executing heavily calculation-oriented applications.
  </p>
  <div class="peeps">
    <div class="student">
      <a href="/s-ktanimura"><img src="/images/ppl/s-ktanimura.jpg" width="85px" /></a>
      <ul>
        <li>Kazuyuki Tanimura</li>
        <li><b>Student</b></li>
        <li>Irvine, CA</li>
      </ul> 
    </div>
    <div class="mentor">
      <a href="/m-utatsuhiro"><img src="/images/ppl/m-utatsuhiro.jpg" width="85px" /></a>
      <ul>
        <li>Ujihisa Tatsuhiro</li>
        <li><b>Mentor (Primary)</b></li>
        <li>Vancouver, Canada</li>
      </ul>   
    </div>
    <div class="mentor">
      <a href="/m-ushyouhei"><img src="/images/ppl/m-ushyouhei.jpg" width="85px" /></a>
      <ul>
        <li>Urabe Shyouhei</li>
        <li><b>Mentor</b></li>
        <li>Tokyo, Japan</li>
      </ul>   
    </div>
    <div class="mentor">
      <a href="/m-kmurata"><img src="/images/ppl/m-kmurata.jpg" width="85px" /></a>
      <ul>
        <li>Kenta Murata</li>
        <li><b>Mentor</b></li>
        <li>Sapporo, Japan</li>
      </ul>   
    </div>
  </div>
</div>

<div class="section">
  <h2>Project #5: Bringing More REST to Ruby with Restfulie</h2>
    <p>   
      REST is an architectural style for distributed hypermedia systems. It's the style that guides the web architecture, and by developing applications that conform to its constraints we can enjoy many of the features that make the web successful, such as scalability, generality of interfaces, and intermediary components to reduce interaction latency, enforce security, and encapsulate legacy systems.</p>
    <br />
    <p>The goal of this project is to make it easier to write RESTful web applications and enjoy its advantages. This will be done on top of Restfulie, a library that help you write hypermedia-aware clients and servers. Rails brought REST to the Ruby world with the notion of resources and crud through HTTP, Restfulie goes one step further. I'll be working especially towards making Restfulie framework-agnostic and improving REST support in Rails.
  </p>
  <div class="peeps">
    <div class="student">
      <a href="/s-esouza"><img src="/images/ppl/s-esouza.png" width="85px" /></a>
      <ul>
        <li>Elomar Souza</li>
        <li><b>Student</b></li>
        <li>Natal, Brazil</li>
      </ul> 
    </div>
    <div class="mentor">
      <a href="/m-jvalim"><img src="/images/ppl/m-jvalim.png" width="85px" /></a>
      <ul>
        <li>José Valim</li>
        <li><b>Mentor (Primary)</b></li>
        <li>Poland</li>
      </ul>   
    </div>
    <div class="mentor">
      <a href="/m-mbleigh"><img src="/images/ppl/m-mbleigh.jpg" width="85px" /></a>
      <ul>
        <li>Michael Bleigh</li>
        <li><b>Mentor</b></li>
        <li>Lee's Summit, MO</li>
      </ul>   
    </div>
    <div class="mentor">
      <a href="/m-jgay"><img src="/images/ppl/missing.jpg" width="85px" /></a>
      <ul>
        <li>Jim Gay</li>
        <li><b>Mentor</b></li>
        <li>Arlington, VA</li>
      </ul>   
    </div>
    <div class="mentor">
      <a href="/m-mmay"><img src="/images/ppl/m-mmay.jpg" width="85px" /></a>
      <ul>
        <li>Martin May</li>
        <li><b>Mentor</b></li>
        <li>Denver, CO</li>
      </ul>   
    </div>
  </div>
</div>

<div class="section">
  <h2>Project #6: JRuby on Android</h2>
    <p>   
      This project will make JRuby a viable option for Android development. I'll write tools to generate a fresh app that's already setup to use JRuby and tools to compile and package the app for distribution. I'll then write a framework that abstracts away a lot of the Java calls, allowing people to write more Ruby instead of writing Java or writing Ruby that just calls Java. At the end, I'll thoroughly document everything and write several sample apps.
  </p>
  <div class="peeps">
    <div class="student">
      <a href="/s-djackoway"><img src="/images/ppl/s-djackoway.jpg" width="85px" /></a>
      <ul>
        <li>Daniel Jackoway</li>
        <li><b>Student</b></li>
        <li>Newark, DE</li>
      </ul> 
    </div>
    <div class="mentor">
      <a href="/m-cnutter"><img src="/images/ppl/m-cnutter.jpg" width="85px" /></a>
      <ul>
        <li>Charles Nutter</li>
        <li><b>Mentor (Primary)</b></li>
        <li>Minneapolis, MN</li>
      </ul>   
    </div>
  </div>
</div>

<div class="section">
  <h2>Project #7: JRuby C Extensions</h2>
    <p>   
      Wayne Meissner's jruby-cext proof-of-concept has shown C extension supported in JRuby. The task for this project is to provide a safe subset of the C API in order to run C extensions on JRuby. Being able to run more gems directly without needing to port them to Java first will further improve the ability of JRuby to combine the Java eco-system with the Ruby language.
  </p>
  <div class="peeps">
    <div class="student">
      <a href="/s-tfelgentreff"><img src="/images/ppl/s-tfelgentreff.jpg" width="85px" /></a>
      <ul>
        <li>Tim Felgentreff</li>
        <li><b>Student</b></li>
        <li>Potsdam, Germany</li>
      </ul> 
    </div>
    <div class="mentor">
      <img src="/images/ppl/m-tenebo.jpg" width="85px" />
      <ul>
        <li>Thomas Enebo</li>
        <li><b>Mentor (Primary)</b></li>
        <li>Minneapolis, MN</li>
      </ul>   
    </div>
    <div class="mentor">
      <a href="/m-cnutter"><img src="/images/ppl/m-cnutter.jpg" width="85px" /></a>
      <ul>
        <li>Charles Nutter</li>
        <li><b>Mentor</b></li>
        <li>Minneapolis, MN</li>
      </ul>   
    </div>
  </div>
</div>

<div class="section">
  <h2>Project #8: Benchmarking CI</h2>
    <p>   
      This project consists in building an official full-stack benchmarking suite for Ruby on Rails. Each commit will automatically trigger a process where a remote machine starts a new server, runs the tests and reports back the results. As time goes by, it will be possible to watch the evolution of the framework's performance and developers will be able to keep track of the impact their changes have. In it's most basic form, it will bring a kind of performance-oriented continuous integration for the Ruby on Rails framework.
  </p>
  <div class="peeps">
    <div class="student">
      <a href="/s-gsilva"><img src="/images/ppl/s-gsilva.jpg" width="85px" /></a>
      <ul>
        <li>Gonçalo Silva</li>
        <li><b>Student</b></li>
        <li>Porto, Portugal</li>
      </ul> 
    </div>
    <div class="mentor">
      <a href="/m-ykatz"><img src="/images/ppl/m-ykatz.jpg" width="85px" /></a>
      <ul>
        <li>Yehuda Katz</li>
        <li><b>Mentor (Primary)</b></li>
        <li>San Francisco, CA</li>
      </ul>   
    </div>
    <div class="mentor">
      <a href="/m-gmathieson"><img src="/images/ppl/m-gmathieson.jpg" width="85px" /></a>
      <ul>
        <li>Graeme Mathieson</li>
        <li><b>Mentor</b></li>
        <li>Edinburgh, Scotland</li>
      </ul>   
    </div>
  </div>
</div>

<div class="section">
  <h2>Project #9: ActiveRecord to DO</h2>
    <p>   
      This project will attempts to port Rails' ActiveRecord database-specific code to a DataObjects backend. The completion of this project would allow us to centralize all the DB code in a single project that Rails and other Ruby projects can use. Things like full Ruby 1.9 support and a standardized API to talk to the different RDBMS will be available to all interested projects.
  </p>
  <div class="peeps">
    <div class="student">
      <a href="/s-fbuiles"><img src="/images/ppl/s-fbuiles.png" width="85px" /></a>
      <ul>
        <li>Federico Builes</li>
        <li><b>Student</b></li>
        <li>Medellin, Colombia</li>
      </ul> 
    </div>
    <div class="mentor">
      <a href="/m-dbussink"><img src="/images/ppl/m-dbussink.jpg" width="85px" /></a>
      <ul>
        <li>Dirkjan Bussink</li>
        <li><b>Mentor (Primary)</b></li>
        <li>Netherlands</li>
      </ul>   
    </div>
    <div class="mentor">
      <a href="/m-etagua"><img src="/images/ppl/m-etagua.png" width="85px" /></a>
      <ul>
        <li>Emilio Tagua</li>
        <li><b>Mentor</b></li>
        <li>Edinburgh, Scotland</li>
      </ul>   
    </div>
    <div class="mentor">
      <a href="/m-clerche"><img src="/images/ppl/m-clerche.jpg" width="85px" /></a>
      <ul>
        <li>Carl Lerche</li>
        <li><b>Mentor</b></li>
        <li>San Francisco, CA</li>
      </ul>   
    </div>
  </div>
</div>

<div class="section">
  <h2>Project #10: Try Camping</h2>
    <p>   
      In this Ruby Summer of Code project we’ll design, implement, and launch Try Camping. The site will be designed give newcomers a solid foundation in Ruby web development so they can easily continue with Rails and Sinatra. Try Camping will be an interactive web-development tutorial using Ruby and the Camping framework. It runs right in the browser and needs no setup so you can focus on learning. You start by writing a simple but functional application, then grow into more advanced topics like MVC and REST.</p>
  <div class="peeps">
    <div class="student">
      <a href="/s-mholm"><img src="/images/ppl/s-mholm.png" width="85px" /></a>
      <ul>
        <li>Magnus Holm</li>
        <li><b>Student</b></li>
        <li>Ski, Akershus, Norway</li>
      </ul> 
    </div>
    <div class="mentor">
      <a href="/m-jcasimir"><img src="/images/ppl/m-jcasimir.jpg" width="85px" /></a>
      <ul>
        <li>Jeff Casimir</li>
        <li><b>Mentor (Primary)</b></li>
        <li>Washington, DC</li>
      </ul>   
    </div>
    <div class="mentor">
      <a href="/m-gprudner"><img src="/images/ppl/m-gprudner.jpg" width="85px" /></a>
      <ul>
        <li>Gustin Prudner</li>
        <li><b>Mentor</b></li>
        <li>Floyd, VA</li>
      </ul>   
    </div>
  </div>
</div>

<div class="section">
  <h2>Project #12: ActiveRecord Identity Map</h2>
    <p>   
      Our goal is provide plugable identity map implementation for ActiveRecord. An identity map is a design pattern used to improve performance by providing a in-memory cache to prevent duplicate retrieval of the same object data from the database, in our case in context of the same request or thread.</p>
      <br />
      <p>If the requested data has already been loaded from the database, the identity map returns the same instance of the already instantiated object, but if it has not been loaded yet, it loads it and stores the new object in the map. The main gains of this project will be performance improvement and memory consumption reduction.</p>
  <div class="peeps">
    <div class="student">
      <a href="/s-mraczkowski"><img src="/images/ppl/s-mraczkowski.jpg" width="85px" /></a>
      <ul>
        <li>Marcin Raczkowski</li>
        <li><b>Student</b></li>
        <li>Medellin, Colombia</li>
      </ul> 
    </div>
    <div class="mentor">
      <a href="/m-etagua"><img src="/images/ppl/m-etagua.png" width="85px" /></a>
      <ul>
        <li>Emilio Tagua</li>
        <li><b>Mentor (Primary)</b></li>
        <li>Mendoza, Argentina</li>
      </ul>   
    </div>
    <div class="mentor">
      <a href="/m-dstevenson"><img src="/images/ppl/m-dstevenson.jpg" width="85px" /></a>
      <ul>
        <li>David Stevenson</li>
        <li><b>Mentor</b></li>
        <li>San Francisco, CA</li>
      </ul>   
    </div>
  </div>
</div>

<div class="section">
  <h2>Project #14/20: Rails Admin / Mountable Apps</h2>
    <p>   
      Coming Soon!</p>
  <div class="peeps">
    <div class="student">
      <a href="/s-bgaza"><img src="/images/ppl/s-bgaza.jpg" width="85px" /></a>
      <ul>
        <li>Bogdan Gaza</li>
        <li><b>Student</b></li>
        <li>Iasi, Romania</li>
      </ul> 
    </div>
    <div class="student">
      <a href="/s-psarnacki"><img src="/images/ppl/s-psarnacki.jpg" width="85px" /></a>
      <ul>
        <li>Piotr Sarnacki</li>
        <li><b>Student</b></li>
        <li>Poland, Warsaw</li>
      </ul> 
    </div>
    <div class="mentor">
      <a href="/m-clerche"><img src="/images/ppl/m-clerche.jpg" width="85px" /></a>
      <ul>
        <li>Carl Lerche</li>
        <li><b>Mentor (Primary)</b></li>
        <li>San Francisco, CA</li>
      </ul>   
    </div>
    <div class="mentor">
      <a href="/m-emo"><img src="/images/ppl/m-emo.jpg" width="85px" /></a>
      <ul>
        <li>Erik Michaels-Ober</li>
        <li><b>Mentor (Primary)</b></li>
        <li>San Francisco, CA</li>
      </ul>   
    </div>
  </div>
</div>

<div class="section">
  <h2>Project #15: Hackety Hack 1.0</h2>
    <p>   
      Hackety Hack makes programming accessible to beginners, regardless of age or background. The current 0.9 version is nearly complete and in this project we’re going to push to a 1.0 release. That includes an editor, lessons, and a web application to share code with friends. The final project will be released on Github and publicized through the RailsBridge outreach group.</p>
  <div class="peeps">
    <div class="student">
      <a href="/s-fwinkelmolen"><img src="/images/ppl/s-fwinkelmolen.jpg" width="85px" /></a>
      <ul
        <li>Fela Winkelmolen</li>
        <li><b>Student</b></li>
        <li>Genoa, Italy</li>
      </ul> 
    </div>
    <div class="mentor">
      <a href="/m-credinger"><img src="/images/ppl/m-credinger.jpg" width="85px" /></a>
      <ul>
        <li>Chris Redinger</li>
        <li><b>Mentor (Primary)</b></li>
        <li>Durham, NC</li>
      </ul>   
    </div>
    <div class="mentor">
      <a href="/m-jcasimir"><img src="/images/ppl/m-jcasimir.jpg" width="85px" /></a>
      <ul>
        <li>Jeff Casimir</li>
        <li><b>Mentor</b></li>
        <li>San Francisco, CA</li>
      </ul>   
    </div>
    <div class="mentor">
      <a href="/m-smei"><img src="/images/ppl/m-smei.jpg" width="85px" /></a>
      <ul>
        <li>Sarah Mei</li>
        <li><b>Mentor</b></li>
        <li>San Francisco, CA</li>
      </ul>   
    </div>
    <div class="mentor">
      <a href="/m-sklabnik"><img src="/images/ppl/m-sklabnik.jpg" width="85px" /></a>
      <ul>
        <li>Steve Klabnik</li>
        <li><b>Mentor</b></li>
        <li>Pittsburg, PA</li>
      </ul>   
    </div>
  </div>
</div>

<div class="section">
  <h2>Project #16: ActiveRecord Sharding</h2>
    <p>   
     The goal of this project is to better implement Database Sharding in ActiveRecord. Sharding allows multiple databases in the same Rails application. While there are several projects that implement Sharding (e.g. DbCharmer, DataFabric), each project has its own limitations. This project will include a Sharding API, master/slave replication support, capistrano and rake tools to manage database state (e.g. migrations, moving data between shards).</p>
  <div class="peeps">
    <div class="student">
      <a href="/s-tpradi"><img src="/images/ppl/s-tpradi.jpg" width="85px" /></a>
      <ul
        <li>Thiago Pradi</li>
        <li><b>Student</b></li>
        <li>Santa Catarina, Brazil</li>
      </ul> 
    </div>
    <div class="mentor">
      <a href="/m-mperham"><img src="/images/ppl/m-mperham.jpg" width="85px" /></a>
      <ul>
        <li>Mike Perham</li>
        <li><b>Mentor (Primary)</b></li>
        <li>Austin, TX</li>
      </ul>   
    </div>
    <div class="mentor">
      <a href="/m-aagarwal"><img src="/images/ppl/m-aagarwal.jpg" width="85px" /></a>
      <ul>
        <li>Amit Agarwal</li>
        <li><b>Mentor</b></li>
      </ul>   
    </div>
  </div>
</div>

<div class="section">
  <h2>Project #17: Coming Soon!</h2>
    <p>   
     Coming Soon!</p>
  <div class="peeps">
    <div class="student">
      <a href="/s-rpanaggio"><img src="/images/ppl/s-rpanaggio.jpg" width="85px" /></a>
      <ul
        <li>Ricardo Panaggio</li>
        <li><b>Student</b></li>
        <li>Campinas, SP, Brazil</li>
      </ul> 
    </div>
    <div class="mentor">
      <a href="/m-cclausen"><img src="/images/ppl/m-cclausen.jpg" width="85px" /></a>
      <ul>
        <li>Caleb Clausen</li>
        <li><b>Mentor (Primary)</b></li>
        <li>Laytonville, CA</li>
      </ul>   
    </div>
  </div>
</div>

<div class="section">
  <h2>Project #18: Ruby Archive Format</h2>
    <p>
     This project will focus on developing a file format and set of utilities for a Ruby archive format, similar to the JAR format for the Java language. My goal is to make it easier both to distribute Ruby applications to end users and to deploy server applications. It will be possible to package an entire application into a single file, including any required libraries. By the conclusion of this Ruby Summer of Code project I will have developed a specification for the archive file format and a set of utilities to interact with the format, and it will be possible to run most Ruby applications packaged into the format without significant modification to the application.</p>
  <div class="peeps">
    <div class="student">
      <a href="/s-jnielsen"><img src="/images/ppl/s-jnielsen.jpg" width="85px" /></a>
      <ul
        <li>Jonathan Nielsen</li>
        <li><b>Student</b></li>
        <li>Campinas, SP, Brazil</li>
      </ul> 
    </div>
    <div class="mentor">
      <a href="/m-ephoenix"><img src="/images/ppl/m-ephoenix.jpg" width="85px" /></a>
      <ul>
        <li>Evan Phoenix</li>
        <li><b>Mentor (Primary)</b></li>
        <li>Los Angeles, CA</li>
      </ul>   
    </div>
    <div class="mentor">
      <a href="/m-cclausen"><img src="/images/ppl/m-cclausen.jpg" width="85px" /></a>
      <ul>
        <li>Caleb Clausen</li>
        <li><b>Mentor (Primary)</b></li>
        <li>Laytonville, CA</li>
      </ul>   
    </div>
  </div>
</div>

<div class="section">
  <h2>Project #19: Decimal to Stdlib</h2>
    <p>
     Decimal is a fast and small library which aims to replace BigDecimal. In it's existing state, it's already got a lot of potential, but its functions are not quite robust enough to be useful along with other standard libraries. In this summer project, I'll work to reimplement parts of Decimal;  to polish it up a bit and get it in better, more useable shape, including a backward compatibility layer, math functions, OtherNumerics#to_decimal, and Decimal#to_*.</p>
  <div class="peeps">
    <div class="student">
      <a href="/s-tsaito"><img src="/images/ppl/s-tsaito.jpg" width="85px" /></a>
      <ul
        <li>Tadashi Saito</li>
        <li><b>Student</b></li>
        <li>Tsukuba, Japan</li>
      </ul> 
    </div>
    <div class="mentor">
      <a href="/m-ushyouhei"><img src="/images/ppl/m-ushyouhei.jpg" width="85px" /></a>
      <ul>
        <li>Urabe Shyouhei</li>
        <li><b>Mentor (Primary)</b></li>
        <li>Tokyo, Japan</li>
      </ul>   
    </div>    
    <div class="mentor">
      <a href="/m-utatsuhiro"><img src="/images/ppl/m-utatsuhiro.jpg" width="85px" /></a>
      <ul>
        <li>Ujihisa Tatsuhiro</li>
        <li><b>Mentor</b></li>
        <li>Vancouver, Canada</li>
      </ul>   
    </div>
    <div class="mentor">
      <a href="/m-kmurata"><img src="/images/ppl/m-kmurata.jpg" width="85px" /></a>
      <ul>
        <li>Kenta Murata</li>
        <li><b>Mentor</b></li>
        <li>Sapporo, Japan</li>
      </ul>   
    </div>
  </div>
</div>

<div class="section">
  <h2>Projects #11 and 13: Coming Soon!</h2>
    <!-- <p>
     Decimal is a fast and small library which aims to replace BigDecimal. In it's existing state, it's already got a lot of potential, but its functions are not quite robust enough to be useful along with other standard libraries. In this summer project, I'll work to reimplement parts of Decimal;  to polish it up a bit and get it in better, more useable shape, including a backward compatibility layer, math functions, OtherNumerics#to_decimal, and Decimal#to_*.</p>
  <div class="peeps">
    <div class="student">
      <a href="/s-tsaito"><img src="/images/ppl/s-tsaito.jpg" width="85px" /></a>
      <ul
        <li>Tadashi Saito</li>
        <li><b>Student</b></li>
        <li>Tsukuba, Japan</li>
      </ul> 
    </div>
    <div class="mentor">
      <a href="/m-ushyouhei"><img src="/images/ppl/m-ushyouhei.jpg" width="85px" /></a>
      <ul>
        <li>Urabe Shyouhei</li>
        <li><b>Mentor (Primary)</b></li>
        <li>Tokyo, Japan</li>
      </ul>   
    </div>    
    <div class="mentor">
      <a href="/m-utatsuhiro"><img src="/images/ppl/m-utatsuhiro.jpg" width="85px" /></a>
      <ul>
        <li>Ujihisa Tatsuhiro</li>
        <li><b>Mentor</b></li>
        <li>Vancouver, Canada</li>
      </ul>   
    </div>
    <div class="mentor">
      <a href="/m-kmurata"><img src="/images/ppl/m-kmurata.jpg" width="85px" /></a>
      <ul>
        <li>Kenta Murata</li>
        <li><b>Mentor</b></li>
        <li>Sapporo, Japan</li>
      </ul>   
    </div>
  </div> -->
</div>
