<div id="preamble">
  <img src="/images/ppl/s-bgaza.jpg"/>
		<h2>Bogdan Gaza</h2>
		<h3>Iasi, Romania</h3>
		<br />
		<h3>Student, Project #14/20</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/hurrycane">hurrycane</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/hurrycane">@hurrycane</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: My name is Bogdan Gaza and I’m a student in the 1st year at the “Alexandru Ioan Cuza” University - Faculty of Computer Science in Iasi, Romania. I’m a young and passionate web developer and I enjoy working with the latest web technologies. I’ve been interested in web-related technologies since the 8th grade when I started learning PHP. In 2006 I started learning Ruby and Ruby on Rails. Since then I’ve worked on different projects, both small and large, employing Rails for most of them.</p>
    <br />
    <p>Every year during high school (2005 – 2009) I participated in the most important software/web development contest for junior developers in Romania, where each year I ranked in the top 5 – qualifying for final the on-site 24h programming challenge. Starting in 2007, the projects that I presented at the contest in question were written using Ruby on Rails.</p>
    <br />
    <p>For a long time one of my primary interests, in addition to web technologies, was programming in the the *nix environment. I installed my first Linux distribution in a virtual machine at the age of 14. Using Rails has allowed me to learn more and more about *nix; most of my personal development process was carried out until recently using Ubuntu as primary development OS and Fedora for my servers. Now I work on a Mac.</p>
    <br />
    <p>I’ve owned a VPS for 3 years, which I manage and monitor myself (DNS and the whole Rails stack – apache/nginx, mod_passenger/mongrel with mysql). I know how to set up my own Rails stack.</p>
    <br />
    <p>In my senior high school year I qualified for the National Computer Science Olympiad (= national contest for high school students). This has allowed me to develop my already strong algorithmic background. I’m also aware of the latest software development practices – code versioning (git and svn), bug tracking, unit testing, continuous integration etc.
  </p>
</div>
  
