<div id="preamble">
  <img src="/images/ppl/s-djackoway.png"/>
		<h2>Daniel Jackoway</h2>
		<h3>Newark, DE</h3>
		<br />
		<h3>Student, Project #6</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/jackowayed">jackowayed</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/jackowayed">@jackowayed</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: I started learning Ruby when I was 13 because, coming off of Visual Basic, I needed a language I wouldn't hate. I heard it had great syntax, so I bought a book and gave it a try. I learned Rails (followed closely by Merb) when I was 15.</p>
    <p>When not hacking or doing school work, I do improvisational comedy and play ultimate frisbee. Once in awhile I have a social life too.
  </p>
</div>
  
