<div id="preamble">
  <img src="/images/ppl/s-dlaycock.jpg"/>
		<h2>Darcy Laycock</h2>
		<h3>Perth, Western Australia</h3>
		<br />
		<h3>Student, Project #2</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/Sutto">Sutto</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/Sutto">Sutto</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: Darcy Laycock is a 19 year old student from Perth, Western Australia currently working towards his Bachelor of Computer Science at the University of Western Australia.</p>
    <br />
    <p>Since having started with Ruby in 2006, He's created and contributed to several ruby-related open source projects, his own including a series of evented twitter and irc clients and miscellaneous web development related tools.</p>
    <br />
    <p>Darcy is also one of the organizers of the yearly Rails Rumble programming competition.
  </p>
</div>
  
