<div id="preamble">
  <img src="/images/ppl/s-dlaycock.jpg"/>
		<h2>Darcy Laycock</h2>
		<h3>Perth, Western Australia</h3>
		<br />
		<h3>Student, Project #2</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/Sutto">Sutto</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/Sutto">Sutto</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: I'm an 18-year old Canadian attending a local technical college. I split my time between shooting video and creating visual effects and programming in Ruby. I have <a href="http://github.com/titanous">built a few gems</a>, and I'm experienced with Sinatra, Merb and Rails. I've dabbled with lots of technologies over the years, starting with VB 6.0 when I was 13, and eventually moving to Perl a few years later.
  </p>
  <br />
  <br />
  <p>My first encounter with Ruby was when I saw some articles about Rails two years ago, and started reading about Ruby. I really liked the syntax, and went on to learn using Try Ruby and the Poignant Guide. My all-time favorite project in Ruby was building a custom Asterisk dialplan in Ruby with Adhearsion. My most recent technical accomplishment was switching from TextMate to Vim.</p>
  </p>
</div>
  
