<div id="preamble">
  <img src="/images/ppl/s-esouza.png"/>
		<h2>Elomar Souza</h2>
		<h3>Natal, Brazil</h3>
		<br />
		<h3>Student, Project #5</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/elomar">elomar</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/elomar">elomar</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: I am Elomar França, 18. Today I live in Natal, Brazil, but in August I am going to study in the USA, thanks to a Fulbright grant. I am halfway through the “Systems Analysis and Development” course at IFRN, a “Federal Institute for Education, Science and Technology.” I’ve been studying Ruby and Rails for the past two years, and working with them for a year and a half. Before discovering Ruby I’ve worked with Delphi, .Net, Java and PHP. I started a web development study group at my college that later turned into a Rails study group, through which I give classes and promote events marketing Ruby and Rails. I am also one of the organizers of Oxente Rails, a regional Rails and Agile conference that take place here in Natal every August. My open source participation consists mainly of sending patches to projects I use and tutoring and promoting Open Source - especially Ruby on Rails - through conferences and courses.</p>
  </p>
</div>
  
