<div id="preamble">
  <img src="/images/ppl/s-fbuiles.png"/>
		<h2>Federico Builes</h2>
		<h3>Medellin, Colombia</h3>
		<br />
		<h3>Student, Project #6</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/febuiles">febuiles</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/febuiles">@febuiles</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: I'm a CS student based in Medellin, Colombia. In the past I've been involved in the Ruby community through the Rubinius and Rubyspec (with minor contributions to other projects). I worked as a full time Ruby and Python programmer at Mentez S.A.S in 2009 with a small internship in Nedap N.V., but this year I've decided to come back to school to finish my degree.</p>
    <br />
    <p>I initially got into Ruby due to Rails after working a couple of years with PHP. This was a huge change in the way I approached my work (I was about to quit the programming thing altogether and dedicate to the music business) and since then I've been working regularly on different projects <a href="http://github.com/febuiles">most of them are public</a>.
  </p>
</div>
  
