<div id="preamble">
  <img src="/images/ppl/s-fwinkelmolen.jpg"/>
		<h2>Fela Winkelmolen</h2>
		<h3>Genoa, Italy</h3>
		<br />
		<h3>Student, Project #15</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/fela">fela</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/felawinkelmolen">@felawinkelmolen</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: I'm 23 years old. I've lived my childhood in a cottage in the mountains, with solar panels for electricity, no television nor phone, and I had to walk 40 minutes to get to the car. Still somehow I got passionate about technology, free software and programming, as soon as I got a computer, when I was about 16. I've always been a logical person, and pretty good at thinking logically, at least compared to the people who surround me. The first programming language I learned was perl, which I loved, although later I wrote most of my code in C/C++. I think it was about three years ago that I first came across ruby, it was love at first sight. It has mostly been a toy language for me, I used it to write little scripts and to play around, until very recently when I managed to use it for something a little bigger in a <a href="http://github.com/fela/rlid">school project</a> (the code is still a little unpolished). Very recently I also started looking at Rails, to know what all the buzz is about.</p>
    <br />
    <p>I'm a Linux user since 6 years, I've always been interested in the free software philosophy and community. I'm the maintainer of KNetWalk and KBreakOut, two games part of KDEGames.</p>
    <br />
    <p>My hobbies are grassroots politics, reading, philosophy, and of course programming.
  </p>
</div>
  
