<div id="preamble">
  <img src="/images/ppl/s-gsilva.jpg"/>
		<h2>Gonçalo Silva</h2>
		<h3>Porto, Portugal</h3>
		<br />
		<h3>Student, Project #8</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/goncalossilva">goncalossilva</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/goncalossilva">@goncalossilva</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: I'm a soon-to-be software engineer from Portugal who always had a crush about performance. Being a freelance web developer for many years, I started using Ruby on Rails in 2007 in a college project. A couple of months later, RoR was my first choice for almost every web project. I'm currently working for “Tecla Colorida”, the creators of <a href="http://escolinhas.pt">http://escolinhas.pt</a>, where they began using RoR in early 2009. In February 2010, I engaged on a master's thesis entitled “Scaling Rails: a system-wide approach to performance optimization”, mixing my passion about Rails and my mild obsession for performance.</p>
    <br />
    <p>I spend most of my free time tweaking open source projects, from operating systems to graphical user interfaces. This hacking instinct surrounds my love for open source software, allowing me to make small contributions to many projects. I also avoid becoming a full-time geek by going out with friends, discovering new places, meeting new people and watching some TV shows (oh, wait, that's a geek thing).</p>
    <br />
    <p>You can find more about me by <a href="http://goncalossilva.com">visiting my website</a>, taking a peak at <a href="http://snaprails.tumblr.com">my Rails-oriented blog</a> or <a href="http://twitter.com/goncalossilva">following me on twitter</a>.
  </p>
</div>
  
