<div id="preamble">
  <img src="/images/ppl/s-jnielsen.jpg"/>
		<h2>Jonathan Nielsen</h2>
		<h3>Provo, UT</h3>
		<br />
		<h3>Student, Project #18</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/byuni">byuni</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/byuni_rb">@byuni_rb</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: Jonathan Nielsen started programming at around the age of 7 in GW-BASIC on a Corona Data Systems PC Clone - a computer that was extremely dated even at the time. Eventually he managed to escape the world of 20 GOTO 10 and began working with other programming languages... beginning with Pascal, continuing on to hacking around on ROM MUD and other games in C.</p>
    <br />
    <p>When he was finally introduced to Ruby by being hired as a part-time Ruby on Rails programmer for his University, it quickly became his favorite programming language. He would love this opportunity to contribute back to the Ruby community that has made programming so enjoyable.</p>
    <br />
    <p>He is presently a Junior in the Computer Science program at Brigham Young University. He uses Ruby for as many Computer Science projects as his professors will let him.
  </p>
</div>
  
