<div id="preamble">
  <img src="/images/ppl/s-jrudenberg.jpg"/>
		<h2>Jonathan Rudenberg</h2>
		<h3>Ottawa, Ontario, Canada</h3>
		<br />
		<h3>Student, Project #1</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/titanous">titanous</a>
	</p>
	<p>
	  <b>Twitter:</b> none
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: Jonathan Rudenberg is a Canadian student studying TV Broadcasting. A technology enthusiast, he splits his time between video production and Ruby development. He has written <a href='http://github.com/titanous'>several gems</a>, and has experience with many technologies including Rails and VoIP.
  </p>
</div>
  
