<div id="preamble">
  <img src="/images/ppl/s-khaase.png"/>
		<h2>Konstantin Haase</h2>
		<h3>Berlin, Germany</h3>
		<br />
		<h3>Student, Project #3</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/rkh">rkh</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/konstantinhaase">konstantinhaase</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: Currently I am 22 years of age and attending university full time. I came in contact with Ruby and Rails while experimenting with alternatives to Bash and PHP for my free time development back in 2005, working mainly on <a href="http://en.wikipedia.org/wiki/Freifunk">Freifunk</a> related projects. Shortly after entering university in 2007 I stopped working with Rails in favor of doing non-web development on the one hand, and experimenting with alternatives, especially Merb and Sinatra, on the other. Only recently I returned to using Rails more extensively, since I got a part time job by a company doing Rails development.</p>
    <p>I am actively participating in the Ruby and Rails open source community for some time now by contributing to existing projects, like Rubinius and Sinatra, publishing projects on my own and maintaining mixico, one of the projects abandoned by “why the lucky stiff”. I got used to code reading and even enjoy it most of the time.</p>
    <p>At the moment, I am working on my bachelor thesis, which I will have to hand in on 25th of June, planning to start my masters program in October. Due to its focus on agile techniques and Smalltalk, and my previous use of those, I am very familiar with various concepts and strategies useful for developing software, like SCRUM/XP, test driven development and common design patterns, just to name a few.</p>
  </p>
</div>
  
