<div id="preamble">
  <img src="/images/ppl/s-ktanimura.jpg"/>
		<h2>Kazuyuki Tanimura</h2>
		<h3>Irvine, CA</h3>
		<br />
		<h3>Student, Project #4</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/kazuyukitanimura">kazuyukitanimura</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/ktanimur">ktanimur</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: I started using Ruby when I was a Master's student. One of the PhD students in my lab was a Ruby user. I was influenced by him and stared using Ruby for my research.
  </p>
</div>
  
