<div id="preamble">
  <img src="/images/ppl/s-mholm.png"/>
		<h2>Magnus Holm</h2>
		<h3>Ski, Akershus, Norway</h3>
		<br />
		<h3>Student, Project #10</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/judofyr">judofyr</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/judofyr">@judofyr</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: I'm a 17 years old student from Norway who loves to hack around with Ruby and has a part-time job in Scandinavian Design Group.</p>
    <br />
    <p>My first encounter with Ruby was, unsurpisingly, Rails. While I certainly liked the principles of Rails, I didn't knew the Ruby language at that time. Instead of actually learning Ruby, I rather started looking for Rails-clones in PHP. I must have tried them all, but there was always *something* that didn't seem quite right with them.</p>
    <br />
    <p>A few months later I discovered _why's interactive Try Ruby! and from that moment I realised what all of those clones lacked: Ruby. I also realized that Ruby was way more interesting than Rails.
  </p>
</div>
  
