<div id="preamble">
  <img src="/images/ppl/s-mraczkowski.jpg"/>
		<h2>Marcin Raczkowski</h2>
		<h3>Kraków, Poland</h3>
		<br />
		<h3>Student, Project #12</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/swistak">swistak</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/sreberkowiec">@sreberkowiec</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: I've started working with Ruby three years ago, mainly thanks to Ruby on Rails, but after that I've completed several projects in both Ruby on Rails and pure Ruby. One I like most was a controller that managed mplayer instances in kiosks and retrieved rss feeds, rendered them using imagemagic and displayed them over running video using overlay and SystemV IPC.
    I've worked with a friend on ldap integration in redmine.</p>
    <br />
    <p>Recently I've completed several extensions for spree ecommerce, and contributed several patches into core(biggest one was new adjustment system).</p>
    <br />
    <p>Currently I'm working as a freelance developer.
  </p>
</div>
  
