<div id="preamble">
  <img src="/images/ppl/s-psarnacki.jpg"/>
		<h2>Piotr Sarnacki</h2>
		<h3>Poland, Warsaw</h3>
		<br />
		<h3>Student, Project #14/20</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/drogus">drogus</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/drogus">@drogus</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: I'm a web developer and I use Rails for most of my work. I study at Polish-Japanese Institute of Information Technology in Warsaw. Besides Ruby I like writing javascript code and I'm fascinated by capabilities of modern browsers and javascript server side programming. I want to simplify and automate things. While not programming I spread my knowledge by giving presentations and writing on my blogs.
  </p>
</div>
  
