<div id="preamble">
  <img src="/images/ppl/s-rpanaggio.jpg"/>
		<h2>Ricardo Panaggio</h2>
		<h3>Campinas, SP, Brazil</h3>
		<br />
		<h3>Student, Project #17</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/panaggio">panaggio</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/panaggio">@panaggio</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: I'm MSc student at <a href="http://unicamp.br">University of Campinas</a>, Brazil.</p>
    <br />
    <p>I program since 2001, when I entered the equivalent for High School here in Brazil. I'm Bachelor in CS and I'm finishing my MSc. I'm already accepted for a PhD here too.</p>
    <br />
    <p>I've tried to start using GNU/Linux back in 2001, but I've really started using it in a daily basis since 2005. In 2007 I've abandoned MS Windows and since then I just used GNU/Linux to do whatever I want or need.</p>
    <br />
    <p>I've first heard about Ruby in 2004, on my first year as undergrad student. I started to casually program in Ruby in 2005, and since 2007~2008 I've been programming in Ruby on a daily basis. 90% of all code I've written on the past two years was in Ruby, including my entire MSc's modules and scripts.</p>
    <br />
    <p>I have little experience with Rails. I've done just two or three weekend projects using Rails so far, but I think it's really cool and easy. I also think I know Rails code better than I code in Rails, because I've studied it a bit to get some of its good insights.</p>
    <br />
    <p>A few weeks ago I gave my 10th talk. Most of them were on jQuery (4) and Ruby (2), but I also give talks about Information Retrieval, Intelligent Systems and other areas related to my MSc.
  </p>
</div>
  
