<div id="preamble">
  <img src="/images/ppl/s-tfelgentreff.jpg"/>
		<h2>Tim Felgentreff</h2>
		<h3>Potsdam, Germany</h3>
		<br />
		<h3>Student, Project #7</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/jackowayed">jackowayed</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/jackowayed">@jackowayed</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: I started to learn and program in Ruby when I first came to university in 2007. I have been using it as my language of choice ever since and programmed study assignments as well as personal projects with it. Apart from using Ruby, I have been a contributor to the Squeak and Gnu Smalltalk communities, as I find that many great ideas in Ruby have their roots in some manner in Smalltalk.</p>
    <br /> 
    <p>At the moment, I am very much caught up in my bachelor's project, a 40h/week project which is the final step to acquiring the bachlor's degree. This project will finish at the end of May and I will be free to work on the RSoC full-time. In the project, we are developing debugging tools for orchideo, an Eclipse based AoP suite. In the course of this project I had the chance to work on back-in-time debugging with the JVM and get a general feel for Java and it's implementation.
  </p>
</div>
  
