<div id="preamble">
  <img src="/images/ppl/s-tpradi.jpg"/>
		<h2>Thiago Pradi</h2>
		<h3>Santa Catarina, Brazil</h3>
		<br />
		<h3>Student, Project #16</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/tchandy">tchandy</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/tchandy">@tchandy</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: I am Thiago Pradi, 21, living in Jaraguá do Sul, Brazil. I'm a Computer Science student at FURB, expecting to get graduate at 2012. I have been playing with rails since 2007 and working full-time since 2008. The projects that I did are for different areas, like Car tracking, E-commerces and other minor projects. I'm also a IPhone developer since 2009, with a published application in the App Store. but I still loving to play with Ruby and Rails. Now I'm working full-time for a brazilian company, with Ruby and Rails.
  </p>
</div>
  
