<div id="preamble">
  <img src="/images/ppl/s-tsaito.jpg"/>
		<h2>Tadashi Saito</h2>
		<h3>Tsukuba, Japan</h3>
		<br />
		<h3>Student, Project #19</h3>
	<p>
	  <b>GitHub:</b> <a href="http://github.com/tadd">tadd</a>
	</p>
	<p>
	  <b>Twitter:</b> <a href="http://www.twitter.com/_tad_">@_tad_</a>
	</p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <p>
    <br />
    <br /> 
    <b>Bio</b>: I'm a university student of CS, and 10-years-old Rubyist. I began computer programming using BASIC (How dear!) when I was a 
    schoolboy. I liked video games (like "Dragon Quest" on NES) very much, but I felt that there will be greater experiences if I could _create_ games, not just play them.</p>
    <br />
    <p>Little by little, programing it selves seem to be fun for me. When I was junior high school student, I began to learn C. Using the knowledge, I passed a national examination of computer engineer (Fundamental Information Technology Engineer Examination). My youthfulness, when I passed the exam, should be near-record-breaking in Japan.</p>
    <br />
    <p>In my senior high school life, I continued to study programming of course. Some of necessity to write small programs arose in a student council. I learned that there was "script language" like Perl, but it had some difficulties in managing multibyte strings. I found another jewel that can treat multibyte strings more natively. Its name was "Ruby." I start to write Ruby codes to finish my affairs easily in high school, with a small batch program. It was 2000, some months after the first book of Ruby(オブジェクト指向スクリプト言語 Ruby) published, written by Matz and Keiju.</p>
    <br />
    <p>I entered a University of Tsukuba (where Matz graduated!) in 2002. I began to post mails ruby MLs actively. The number of mails that I posted is over 300 till now.
  </p>
</div>
  
