<div id="preamble" class="home">
	<h2>Sponsors</h2>
	  <p>
	    Sponsoring the Ruby Summer of Code is a great opportunity to give back to the community, and gain valuable exposure for your company, project or brand. To learn more about sponsoring, download <a href="/RubySOC-Sponsor-Prospectus.pdf">the prospectus</a> or contact <a href="mailto:sponsor@rubysoc.org">Leah Silber</a>.
	  </p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <h2>Program Produced by</h2>
  <div class="sponsor">
      <a href="http://www.engineyard.com" class="floatLeft"><img src="/images/Engine-Yard.png" height="125"/></a>
      <h3 class="sponsor_name">Engine Yard Inc.</h3>
      <p class="service_product">
        Engine Yard provides automation technologies and services for Ruby on Rails, including Engine Yard Cloud, an application services platform for web developers and web teams. It provides easy-to-use, automated Rails application deployment and management, with a design philosophy that allows easy migration of existing applications. Engine Yard employs top industry experts and sponsors or contributes to many Open Source projects and efforts such as <a href="http://www.rubyonrails.org">Ruby on Rails</a>, <a href="http://www.jruby.org">JRuby</a> and <a href="http://www.rubini.us">Rubinius</a>. Headquartered in San Francisco, Engine Yard is backed by Benchmark Capital, New Enterprise Associates, and Amazon.com. Visit <a href="http://www.engineyard.com">www.engineyard.com</a>, and <a href="http://www.twitter.com/engineyard">follow us on twitter</a>.
      </p>
   </div>
  <div class="sponsor">
    <a href="http://www.rubycentral.org" class="floatLeft"><img src="/images/Ruby-Central.png" height="125"/></a>
    <h3 class="sponsor_name">Ruby Central</h3>
    <p class="service_product">
      Ruby Central is the parent organization of the annual International <a href="http://rubyconf.org/">Ruby</a> and <a href="http://railsconf.org">Rails</a> Conferences and is a visible presence and point of contact for corporate sponsors interested in supporting these conferences and other Ruby activities. Active for nearly a decade, Ruby Central has provided support for Ruby community activities including Ruby community representation for Google's Summer of Code, RubyConf, RailsConf, RailsConf Europe, the <a href="http://rubycentral.org">Regional Conference Grant program</a> and various other sponsorships. Ruby Central has also hosted RubyForge and the Ruby community gem repository since their inceptions.
    </p>
  </div>
  <h2>Full Project Sponsors</h2>

  <div class="sponsor">
      <!-- <a href="http://www.engineyard.com" class="floatLeft"><img src="/images/Engine-Yard.png" height="125"/></a> -->
      <h3 class="sponsor_name">Coming Soon!</h3>
      <p class="service_product">
      </p>
   </div>

  <h2>Half Project Sponsors</h2>

  <div class="sponsor">
      <!-- <a href="http://www.engineyard.com" class="floatLeft"><img src="/images/Engine-Yard.png" height="125"/></a> -->
      <h3 class="sponsor_name">Coming Soon!</h3>
      <p class="service_product">
      </p>
   </div>

     <h2>Individual Contributors</h2>
     <div class="individuals">
      <p>
      <a href="http://www.twitter.com/bitsweat">Jeremy Kemper</a><br />
      <a href="http://www.twitter.com/tenderlove">Aaron Patterson</a><br />
      <a href="http://nicolassanguinetti.info">Nicolás Sanguinetti</a><br />
      <a href="http://www.twitter.com/luislavena">Luis Lavena</a><br />
      <a href="http://www.twitter.com/smithk14">Kevin Smith</a><br />
      <a href="http://www.yehudakatz.com">Yehuda Katz</a><br />
      <a href="http://andy.delcambre.com">Andy Delcambre</a><br />
      <a href="http://pabcas.com">Paul Campbell</a><br />
      <a href="http://blog.tuxicity.se/">Johan Andersson</a><br />
      <a href="http://adamw523.com">Adam Wisniewski</a><br />
      <a href="http://twitter.com/ssoroka">Steven Soroka</a><br />
      <a href="http://trevorturk.com">Trevor Turk</a><br />
      <a href="http://github.com/trotter">Trotter Cashion</a><br />
      <a href="http://twitter.com/redinger">Christopher Redinger</a><br />
      <a href="http://railsrankings.com/coders/mark-jones">Mark Jones</a><br />
      <a href="http://twitter.com/ecin">Ecin</a><br />
      <a href="http://webbynode.com">Felipe Gonçalves Coury</a><br />
      <a href="http://www.loudthinking.com">David Heinemeier Hansson</a><br />
      <a href="http://www.lukemelia.com">Luke Melia</a><br />
      <a href="http://wiscota.com">Wiscota Systems</a><br />
      <a href="http://twitter.com/MarkHolton">Mark Holton</a><br />
      Leonardo Bighi<br />
      <a href="https://github.com/sferik">Erik Michaels-Ober</a><br />
      <a href="http://www.costan.us">Victor Costan</a><br />
      <a href="http://ihack.us">Ernest Prabhakar</a><br />
      <a href="https://twitter.com/lucasdicioccio">Lucas Di Cioccio (FrihD)</a><br />
      <a href="http://evan.tiggerpalace.com">Evan Light</a><br /> 
      <a href="http://luigimontanez.com">Luigi Montanez</a><br />
      <a href="http://zenmachine.wordpress.com">Gleicon Moraes</a><br />
      <a href="http://www.galajda.com/">Vladimir Galajda</a><br />
      <a href="http://twitter.com/packagethief">Jeffrey Hardy</a><br />
      <a href="http://mtnwestrubyconf.org/">MountainWest Ruby, LLC</a><br />
      </p>
    </div>
</div>