<div id="preamble" class="home">
	<h2>Sponsors</h2>
	  <p>
	    Sponsoring the Ruby Summer of Code is a great opportunity to give back to the community, and gain valuable exposure for your company, project or brand. To learn more about sponsoring, download <a href="/RubySOC-Sponsor-Prospectus.pdf">the prospectus</a> or contact <a href="mailto:sponsor@rubysoc.org">Leah Silber</a>.
	  </p>
</div>          
<div id="paypal">
  <h5><a href="http://twitter.com/tenderlove">Aaron</a></h5>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post"> <input type="hidden" name="cmd" value="_s-xclick"> <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHPwYJKoZIhvcNAQcEoIIHMDCCBywCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYDBGfvhNbg5b6FlxmAHtJDoHqNp9UfBmlFOlhyR+FkzJ4z41yh0uyP7JARGaCqvLQ2nW40bjJkHbYYziKCofe8GsXyyareuX8UYA0yy4dCW1+kooHuD2wUgz8HlqcjIzEXYXNhh2JsvsR1jz77WYKMpd4NoruT8iJi5U4UVBMlqajELMAkGBSsOAwIaBQAwgbwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIYkkZYmmjX4GAgZjtPABBuSpbbJS7eC3REWjCxXnhtVS5iJQnBXOzD+Kfx4DvqzQqQ+VEloJxJL8bFDFuOYDqHzdAVjcNoeK4O7xRjDBKSJ7ZMdBvnlB8c88WLYoVmr+2VzdTT5SW97IWLMkTu84gXG48jq4QDoKO0u/S7FpgqNZoxBjvTDE9dzVASM5VLmCiiwnDbpx0sXmX3MMHs1KOa4GTIaCCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTEwMDMyMzIxMTIzNVowIwYJKoZIhvcNAQkEMRYEFNHC/Cx9YZ6OBpBLZ1jMe9CsneObMA0GCSqGSIb3DQEBAQUABIGABwmP8a8XDaSJWYBKMehFB1EAa+6HNNiQIJAd3LbiIBB82opVyp0lx/bVFVenhoQ2UD9z5/nnxLoBREoh+MjVHNXX9J4XJGwlM813X1f8XWTsWXKBpPcfVIJ5fTp160ibX/Y6kuBuDoYVgYtI2VtLq6YZICEHYjCloCq+ZLwi9kw=-----END PKCS7----- "> <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"> <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1"> </form> 
  <b>Donate this week and <a href="http://twitter.com/tenderlove">Aaron</a> will match your contribution!</b>
</div>
<div class="section">
  <h2>Program Produced by</h2>
  <div class="sponsor">
      <a href="http://www.engineyard.com" class="floatLeft"><img src="/images/Engine-Yard.png" height="125"/></a>
      <h3 class="sponsor_name">Engine Yard Inc.</h3>
      <p class="service_product">
        Engine Yard provides automation technologies and services for Ruby on Rails, including Engine Yard Cloud, an application services platform for web developers and web teams. It provides easy-to-use, automated Rails application deployment and management, with a design philosophy that allows easy migration of existing applications. Engine Yard employs top industry experts and sponsors or contributes to many Open Source projects and efforts such as <a href="http://www.rubyonrails.org">Ruby on Rails</a>, <a href="http://www.jruby.org">JRuby</a> and <a href="http://www.rubini.us">Rubinius</a>. Headquartered in San Francisco, Engine Yard is backed by Benchmark Capital, New Enterprise Associates, and Amazon.com. Visit <a href="http://www.engineyard.com">www.engineyard.com</a>, and <a href="http://www.twitter.com/engineyard">follow us on twitter</a>.
      </p>
   </div>
  <div class="sponsor">
    <a href="http://www.rubycentral.org" class="floatLeft"><img src="/images/Ruby-Central.png" height="125"/></a>
    <h3 class="sponsor_name">Ruby Central</h3>
    <p class="service_product">
      Coming Soon!
    </p>
  </div>
  <h2>Full Project Sponsors</h2>

  <div class="sponsor">
      <!-- <a href="http://www.engineyard.com" class="floatLeft"><img src="/images/Engine-Yard.png" height="125"/></a> -->
      <h3 class="sponsor_name">Coming Soon!</h3>
      <p class="service_product">
      </p>
   </div>

  <h2>Half Project Sponsors</h2>

  <div class="sponsor">
      <!-- <a href="http://www.engineyard.com" class="floatLeft"><img src="/images/Engine-Yard.png" height="125"/></a> -->
      <h3 class="sponsor_name">Coming Soon!</h3>
      <p class="service_product">
      </p>
   </div>
   
     <h2>Individual Contributors</h2>
      <p><a href="http://www.twitter.com/bitsweat">Jeremy Kemper</a></p>
      <p><a href="http://www.twitter.com/tenderlove">Aaron Patterson</a></p>

</div>