<div id="preamble" class="home">
	<h2>Sponsors</h2>
	  <p>
	    Sponsoring the Ruby Summer of Code is a great opportunity to give back to the community, and gain valuable exposure for your company, project or brand. For questions about sponsorship, contact <a href="mailto:sponsor@rubysoc.org">Leah Silber</a>.
	  </p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <h2>Full Project Sponsors</h2>
   <div class="sponsor">
     <a href="http://www.rubycentral.org" class="floatLeft"><img src="/images/Ruby-Central.png" height="100"/></a>
     <h3 class="sponsor_name">Ruby Central</h3>
     <p class="service_product">
       Ruby Central is the parent organization of the annual International <a href="http://rubyconf.org/">Ruby</a> and <a href="http://railsconf.org">Rails</a> Conferences and is a visible presence and point of contact for corporate sponsors interested in supporting these conferences and other Ruby activities. Active for nearly a decade, Ruby Central has provided support for Ruby community activities including Ruby community representation for Google's Summer of Code, RubyConf, RailsConf, RailsConf Europe, the <a href="http://rubycentral.org">Regional Conference Grant program</a> and various other sponsorships. Ruby Central has also hosted RubyForge and the Ruby community gem repository since their inceptions.
     </p>
   </div>

   <div class="sponsor">
     <a href="http://www.37signals.com" class="floatLeft"><img src="/images/37signals.png" width="120"/></a>
     <h3 class="sponsor_name">37signals</h3>
     <p class="service_product">
       <a href="http://37signals.com">37signals</a> is the original company behind Ruby on Rails. The framework was extracted by David Heinemeier Hansson from the company's <a href="http://www.basecamphq.com">Basecamp</a> product. Today the company has a whole suite of products all built with Ruby on Rails.
       <p>37signals also employs four of the currently active Rails core members (Jeremy Kemper, Pratik Naik, Joshua Peek, and David Heinemeier Hansson).
     </p>
   </div>

   <div class="sponsor">
     <a href="http://www.phusion.nl" class="floatLeft"><img src="/images/phusion.png" height="100"/></a>
     <h3 class="sponsor_name">Phusion</h3>
     <p class="service_product">
       Phusion provides amazing Ruby & Rails <a href="http://phusion.nl/products">products</a> and <a href="http://phusion.nl/services">services</a> to <a href="http://phusion.nl/clients">companies that shape our modern day culture</a>, e.g. The New York Times, Pixar, 37signals, Oakley and Twitter.
       <p>Our flagship products are <a href="http://rubyenterpriseedition.com">Ruby Enterprise Edition</a> and <a href="http://modrails.com">Phusion Passenger</a> which allow for ease of use in Rails deployment as well as robustness, performance and reliability. Keep an eye out on our <a href="http://phusion.nl">site</a> and/or follow us on <a href="http://twitter.com/phusion_nl">Twitter</a> for our upcoming product announcement currently being beta tested by our high-end clients to ensure absolute robustness and performance in even the most demanding business environments.
       <p>Seeing as we're already done describing what we do best, here is a <a href="http://www.xmission.com/~emailbox/ascii_cats.htm">cute ASCII kitten</a>:
       <pre>
                                                     /\             /\
                                                    |`\\_,--="=--,_//`|
                                                    \ ."  :'. .':  ". /
                                                   ==)  _ :  '  : _  (==
                                                     |>/O\   _   /O\<|
                                                     | \-"~` _ `~"-/ |
                                                    >|`===. \_/ .===`|<
                                          jgs .-"-.   \==='  |  '===/   .-"-.
                                        -----{'. '`}---\,  .-'-.  ,/---{.'. '}-----
                                             `"---"`     `~-===-~`     `"---"`
       </pre>
       <p>Feel free to <a href="http://phusion.nl/contact">contact us</a> if you're interested in learning more about Phusion and ASCII kittens.
     </p>
   </div>

   <div class="sponsor">
     <a href="http://www.pivotallabs.com" class="floatLeft"><img src="/images/pivotal.png" width="120"/></a>
     <h3 class="sponsor_name">Pivotal Labs</h3>
     <p class="service_product">
       Pivotal Labs is a recognized leader in agile, rails, and mobile development. We've been building high reliability systems for clients for over 20 years, and our Rails practice has delivered more than 80 client products since its launch four years ago. Long a leader in the Agile development world, we’ve been applying agile techniques to accelerate development, reduce risk, and increase responsiveness to market trends for startups and enterprises alike. And Pivotal doesn't just deliver a great product, we also equip our clients to execute on their own, giving them the tools and techniques they need to continue to excel.
       <p>Our Jolt award winning project management tool, Pivotal Tracker, has become the industry standard in the Rails development world, and we invite you to use it, if you’re not already.
       <p>With over 80 talented and enthusiastic people in our offices in San Francisco, New York, Boulder and Singapore, we’re ready to work with you and to take your development to the next level. And we’re always in the market for great talent, so come work with us!
       <p>Be sure to check out our tech talks <a href="http://pivotallabs.com/talks">online</a> or on our iTunes Podcast channel. There's a new 1-hour talk on key topics of interest to Ruby developers almost every week.
       <p>We’re excited to be a sponsor of the Ruby Summer of Code. We look forward to all the great stuff that will come out of it.
     </p>
   </div>

   <div class="sponsor">
     <a href="http://www.newrelic.com" class="floatLeft"><img src="/images/newrelic.png" width="120"/></a>
     <h3 class="sponsor_name">New Relic</h3>
     <p class="service_product">
       New Relic is the leading provider of application performance management tools for Ruby and Java applications. More than 3500 companies use New Relic RPM to monitor, troubleshoot and optimize applications deployed either in the cloud or in dedicated hosting environments. RPM Lite is a free, fully supported, unlimited time version available at <a href="http://www.newrelic.com">www.newrelic.com</a>.
     </p>
   </div>


  <h2>Half Project Sponsors</h2>
  <div class="sponsor">
      <a href="http://www.engineyard.com" class="floatLeft"><img src="/images/Engine-Yard.png" height="100"/></a>
      <h3 class="sponsor_name">Engine Yard Inc.</h3>
      <p class="service_product">
        Engine Yard provides automation technologies and services for Ruby on Rails, including Engine Yard Cloud, an application services platform for web developers and web teams. It provides easy-to-use, automated Rails application deployment and management, with a design philosophy that allows easy migration of existing applications. Engine Yard employs top industry experts and sponsors or contributes to many Open Source projects and efforts such as <a href="http://www.rubyonrails.org">Ruby on Rails</a>, <a href="http://www.jruby.org">JRuby</a> and <a href="http://www.rubini.us">Rubinius</a>. Headquartered in San Francisco, Engine Yard is backed by Benchmark Capital, New Enterprise Associates, and Amazon.com. Visit <a href="http://www.engineyard.com">www.engineyard.com</a>, and <a href="http://www.twitter.com/engineyard">follow us on twitter</a>.
      </p>
   </div>

  <div class="sponsor">
      <a href="http://entp.com" class="floatLeft"><img src="/images/entp_small.png" width="100"/></a>
      <h3 class="sponsor_name">ENTP</h3>
      <p class="service_product">
        <a href="http://entp.com/">ENTP</a> is an application development team based in Portland, Oregon. Our focus is to build innovative products that redefine how people work together over the web. We also strive to maintain a strong presence within our community through contributions to open source software.
        <p>We founded ENTP after collaborating on open source projects. Over the last few years we’ve released a great deal our code and launched two of our core products, <a href="http://lighthouseapp.com/">Lighthouse</a> and <a href="http://tenderapp.com/">Tender Support</a>. They have both become well known within several development communities.
        <p>Lighthouse is a ticket-tracking application that creates a simple workflow for project development and team collaboration. Lighthouse also provides free hosted ticket-tracking for open source projects. Thanks to the folks at <a href="http://engineyard.com/">Engine Yard</a>, Lighthouse has become the leading ticket-tracker for many development teams and open source tools ranging from weekend projects to the Ruby on Rails code base.
        <p>Tender Support is a customer support application that provides seamless integration with your products and services. Development on Tender began after two years of experience on Lighthouse. We tried every option from forums and hosted support services to email and chat. Nothing fulfilled our need for a unified customer support experience, so we built it. Tender Support also provides free hosted accounts for open source projects.
        <p>We’re extremely excited to be a part of the Ruby Summer of Code project and are looking forward to helping in any way possible!
      </p>
   </div>

   <div class="sponsor">
       <a href="http://www.thefrontiergroup.com.au" class="floatLeft"><img src="/images/frontier_sm.png" width="130"/></a>
       <h3 class="sponsor_name">The Frontier Group</h3>
       <p class="service_product">
         Active for nearly a decade, <a href="http://www.thefrontiergroup.com.au">The Frontier Group</a> is a web design and development team based in Perth, Australia. A team of 12, our core focus is building Ruby on Rails applications for startups through to big business, using Agile processes. We run the local <a href="http://www.perthrubyonrails.com.au">Ruby on Rails Meetup</a> here in Perth, and there's always a desk here if someone needs it. Oh, and we're always looking for new talent.
         <p>Even with a team of 12, our long-term client projects keep us working around the clock. This year will hopefully bring more talented Rubyists on deck which will see us increase our contribution back to the open source community, and provide for more opportunities such as sponsoring this cause.
         <p>We're proud to sponsor the Ruby Summer of Code in 2010 and look forward to both seeing the outcome and lending a hand.
       </p>
    </div>

    <div class="sponsor">
        <a href="http://www.intridea.com" class="floatLeft"><img src="/images/intridea.png" height="100"/></a>
        <h3 class="sponsor_name">Intridea</h3>
        <p class="service_product">
          Intridea is a development consulting firm and products company specializing in web development with Ruby and cross-platform mobile applications.  We provide products and services for large companies like Comcast and Geico, associations like AARP and the American Chemical Society, and small, scrappy startups that you haven't even heard of (yet!).  We specialize in blending battle-tested techniques and solutions with cutting-edge technology, crafting solutions that are as solid and usable as they are fun to build.  Our developers are passionate about our customers and dedicated to the open source movement, with contributions to projects like Rails, XRuby, Scalr, Apache Camel, ruby_bosh, numerous gems and plugins, and sponsorship of open-source development through campaigns just like this one.
          <p>Intrideans have the freedom to work from our DC office, or remotely from wherever they call home.  Being an Intridean is more than just working at Intridea: it's subscribing to our company culture of open-source evangelism and excellence in development.  We spend a lot of time making sure both of those principles are honed through company-sponsored conference speaking, blogging, weekly "Coffee Hour" where we discuss whatever we're working on or reading at the moment, and other group events where we hack, write, or just grab some good Thai food together.
        </p>
     </div>

     <div class="sponsor">
         <a href="http://www.braintreepaymentsolutions.com/" class="floatLeft"><img src="/images/braintree.png" width="130"/></a>
         <h3 class="sponsor_name">Braintree</h3>
         <p class="service_product">
           Braintree helps businesses accept credit card payments by providing a merchant account, payment gateway, and credit card storage. We also offer managed recurring billing, taking care of things like proration, upgrades, and retrying failed transactions.
           <p>We're modernizing the way merchants integrate with payment gateways.No SOAP or RPCs with key/value pairs. Instead, we expose a rich domain model through client libraries written in the programming languages that you work with on a daily basis (Ruby, Python, Java, etc). Much like Rails eliminated "XML sit-ups," we're eliminating web service integration sit-ups. We make security easy -- using our Transparent Redirect API you can charge your customers without sensitive data passing through your system, or resorting to a hosted page.
           <p>We're also doing the right thing on the business side.  In our industry, practices like hiding fees and holding credit card data hostage (so the merchant is locked-in) are commonplace.  Our pricing is straightforward and transparent, and we lead the industry by providing complete data portability.
           <p>Our customers include some of the fastest growing and most respected appreciation for our ability to educate and provide guidance in this complex industry and praise us for our exceptional customer service.
         </p>
      </div>

      <div class="sponsor">
          <a href="http://www.aptana.com" class="floatLeft"><img src="/images/aptana.png" width="120"/></a>
          <h3 class="sponsor_name">Aptana</h3>
          <p class="service_product">
            <a href="http://www.aptana.com/">Aptana</a> is the leader in web application development and management solutions. The Aptana Studio product is a complete web development environment that supports key client-side and server-side web technologies and languages including Ruby, Rails, Python, PHP, HTML, CSS and JavaScript. Aptana Studio has been wildly successful and has been downloaded more than 5,000,000 times. Based in San Mateo, California, Aptana is backed by leading venture investors Accel Partners & Rembrandt Venture Partners. <a href="http://twitter.com/aptana">Follow us on twitter</a>.
          </p>
       </div>

       <div class="sponsor">
           <a href="http://www.getharvest.com" class="floatLeft"><img src="/images/harvest_sm.png" width="120"/></a>
           <h3 class="sponsor_name">Harvest</h3>
           <p class="service_product">
             <a href="http://www.getharvest.com">Harvest</a> is a web-based service that let's you track time, log expenses, and invoice clients all in one streamlined application. Simple and intuitive to use, you will be up and running with Harvest in minutes. Visual reporting shows you the health of your operation at-a-glance while providing drill down capability for detailed analysis.  Used by today's top service professionals, Harvest is the ideal tool for managing a small business.
          </p>
        </div>

     <h2>Individual Contributors</h2>
     <div class="individuals">
      <p>
      <a href="http://www.twitter.com/bitsweat">Jeremy Kemper</a><br />
      <a href="http://www.twitter.com/tenderlove">Aaron Patterson</a><br />
      <a href="http://nicolassanguinetti.info">Nicolás Sanguinetti</a><br />
      <a href="http://www.twitter.com/luislavena">Luis Lavena</a><br />
      <a href="http://www.twitter.com/smithk14">Kevin Smith</a><br />
      <a href="http://www.yehudakatz.com">Yehuda Katz</a><br />
      <a href="http://andy.delcambre.com">Andy Delcambre</a><br />
      <a href="http://pabcas.com">Paul Campbell</a><br />
      <a href="http://blog.tuxicity.se/">Johan Andersson</a><br />
      <a href="http://adamw523.com">Adam Wisniewski</a><br />
      <a href="http://www.twitter.com/wifelette">Leah Silber</a><br />
      <a href="http://twitter.com/ssoroka">Steven Soroka</a><br />
      <a href="http://trevorturk.com">Trevor Turk</a><br />
      <a href="http://github.com/trotter">Trotter Cashion</a><br />
      <a href="http://twitter.com/redinger">Christopher Redinger</a><br />
      <a href="http://railsrankings.com/coders/mark-jones">Mark Jones</a><br />
      <a href="http://twitter.com/ecin">Ecin</a><br />
      <a href="http://webbynode.com">Felipe Gonçalves Coury</a><br />
      <a href="http://www.loudthinking.com">David Heinemeier Hansson</a><br />
      <a href="http://www.lukemelia.com">Luke Melia</a><br />
      <a href="http://wiscota.com">Wiscota Systems</a><br />
      <a href="http://twitter.com/MarkHolton">Mark Holton</a><br />
      Leonardo Bighi<br />
      <a href="https://github.com/sferik">Erik Michaels-Ober</a><br />
      <a href="http://www.costan.us">Victor Costan</a><br />
      <a href="http://ihack.us">Ernest Prabhakar</a><br />
      <a href="https://twitter.com/lucasdicioccio">Lucas Di Cioccio (FrihD)</a><br />
      <a href="http://evan.tiggerpalace.com">Evan Light</a><br />
      <a href="http://luigimontanez.com">Luigi Montanez</a><br />
      <a href="http://zenmachine.wordpress.com">Gleicon Moraes</a><br />
      <a href="http://www.galajda.com/">Vladimir Galajda</a><br />
      <a href="http://twitter.com/packagethief">Jeffrey Hardy</a><br />
      <a href="http://mtnwestrubyconf.org/">MountainWest Ruby, LLC</a><br />
      Emin Hasanov<br />
      <a href="http://atmos.org">Atmos</a><br />
      <a href="http://matiaskorhonen.fi">Matias Korhonen</a><br />
      Max De Marzi<br />
      <a href="http://chadfowler.com/">Chad Fowler</a><br />
      <a href="http://www.kellyjeanne.org/">Kelly Jeanne Fowler</a><br />
      <a href="http://www.elomarns.com/blog">Elomar Nascimento dos Santos</a><br />
      <a href="www.twitter.com/jakedouglas">Jake Douglas</a><br />
      <a href="http://twitter.com/rafaelrosafu">Rafael Rosa</a><br />
      <a href="http://kent.ewakened.com">Kent Fenwick</a><br />
      <a href="http://github.com/mharris717">Mike Harris</a><br />
      <a href="http://halostatue.ca/">Austin Ziegler</a><br />
      <a href="http://gstark.com">Gavin Stark</a><br />
      <a href="http://beginrescue.blogspot.com">Pete Higgins</a><br />
      <a href="http://blog.trevoke.net">Aldric Giacomoni</a><br />
      <a href="http://miloops.com">Emilio Tagua</a><br />
      <a href="http://blog.menfin.info">Bruno Michel</a><br />
      <a href="http://github.com/woodie">John Woodell</a><br />
      <a href="http://www.hashref.com">Xavier Noria</a><br />
      <a href="http://mattonrails.com/">Matthew Conway</a><br />
      <a href="http://twitter.com/calavera">David Calavera</a><br />
      <a href="http://brynary.com">Bryan Helmkamp</a><br />
      <a href="http://twitter.com/boblmartens">Bob Martens</a><br />
      <a href="http://www.plainprograms.com">James Thompson</a><br />
      <a href="http://twitter.com/enerene">René Davis</a><br />
      <a href="http://www.twitter.com/robmerrell">Rob Merrell</a><br />
      <a href="http://hungerandthirstdesign.com">Luke van der Hoeven</a><br />
      <a href="http://www.indeterminateform.com/">Max Hawkins</a><br />
      <a href="www.akitaonrails.com">Fabio Akita</a><br />
      <a href="http://livingsocial.com">Aaron Batalion</a><br />
      <a href="http://livingsocial.com">Patrick Joyce</a><br />
      <a href="http://amerine.net">Mark Turner</a><br />
      <a href="http://clear-consult.com">Clear Consulting</a><br />
      <a href="http://zlab.fr/">Guillaume Desrat</a><br />
      <a href="http://drnicwilliams.com">Dr Nic Williams</a><br />
      <a href="http://kopfmaschine.com">Thorben Schröder</a><br />
      <a href="http://mattsears.com">Matt Sears</a><br />
      <a href="http://twitter.com/metapandava">Mason Browne</a><br />
      <a href="http://intridea.com">Chris Selmer</a><br />
      <a href="http://www.wyeworks.com">Santiago Pastorino</a><br />
      <a href="http://www.wyeworks.com">José Costa</a><br />
      <a href="http://www.wyeworks.com">WyeWorks</a><br />
      <a href="http://www.jackhq.com">Jack Russell Software Company</a><br />
      <a href="http://twitter.com/narwen">Thais Camilo</a><br />
      <a href="http://www.gogaruc.com">Golden Gate Ruby Conf</a><br />
      <a href="http://www.zadams.com">Zack Adams</a><br />
      <a href="http://sethladd.com">Seth Ladd</a><br />
      <a href="http://blog-en.shingara.fr/">Cyril Mougel</a><br />
      <a href="http://eric.lubow.org/">Eric Lubow</a><br />
      <a href="http://jimlindley.com">Jim Lindley</a><br />
      <a href="http://twitter.com/wesg">Wesley Gorman</a><br />
      <a href="http://www.github.com/rares">Rob Ares</a><br />
      <a href="http://jc00ke.com">Jesse Cooke</a><br />
      <a href="http://www.rails-freelancer.de/">Roland Moriz</a><br />
      <a href="http://www.twitter.com/h4n">Han Kessels</a><br />
      <a href="http://twitter.com/mutle">Mutwin Kraus</a><br />
      <a href="http://www.joealba.com">Joe Alba</a><br />
      <a href="http://eric-stewart.com">Eric Stewart</a><br />
      <a href="http://www.bigcreek.com/">Big Creek Software, LLC</a><br />
      <a href="http://twitter.com/jlecour">Jérémy Lecour></a><br />
      <a href="http://productive.dk">Jesper Hvirring Henriksen</a><br />
      <a href="http://www.graysoftinc.com">Gray Productions Software Inc.</a><br />
      <a href="http://www.mashupgarage.com">Jason Torres</a><br />
      <a href="http://blog.stco.info/">Koji Shimada</a><br />
      <a href="http://overnothing.com/">Division by Zero, LLC</a><br />
      <a href="http://www.trevmex.com/">Trevor Menagh</a><br />
      <a href="http://enclarus.com">Ajaya Agrawalla</a><br />
      <a href="http://www.enterprise-rails.de">Julian Fischer</a><br />
      <a href="http://nerdd.dk">Rasmus Bang Grouleff</a><br />
      <a href="http://jasonmadigan.com">Jason Madigan</a><br />
      <a href="http://timharvey.net">Tim Harvey</a><br />
      <a href="http://hobocentral.net/">Matt Jones</a><br />
      <a href="http://simplificator.com">Simplificator</a><br />
      <a href="http://www.barinek.com">Michael Barinek</a><br />
      <a href="http://twitter.com/dan_manges">Dan Manges</a><br />
      <a href="http://twitter.com/shadow11">Ricardo Yasuda</a><br />
      <a href="http://www.twitter.com/vinibaggio">Vinicius Baggio Fuentes</a><br />
      <a href="http://www.brycethornton.com">Bryce Thornton</a><br />
      <a href="http://www.dashpoint.com">Rod Paddock</a><br />
      <a href="http://jaimeiniesta.com">Jaime Iniesta</a><br />
      <a href="http://www.duwanis.com">Tommy Morgan</a><br />
      Sam Stephenson<br />
      <a href="http://bradpauly.com">Brad Pauly</a><br />
      <a href="http://twitter.com/pritchie">Patrick Ritchie</a><br />
      <a href="http://www.arttaylor.com">Art Taylor</a><br />
      <a href="http://twitter.com/go">Michael Buffington</a><br />
      <a href="http://douglasfshearer.com">Douglas F Shearer</a><br />
      <a href="http://www.linkedin.com/in/abbasraza">Abbas Raza</a><br />
      <a href="http://benatkin.com/">Ben Atkin</a><br />
      <a href="http://twitter.com/xuanxu">Juanjo Bazan</a><br />
      <a href="http://blog.selfmodifying.com">Ryan Garver</a><br />
      <a href="http://bitfluent.com">Bitfluent</a><br />
      <a href="http://railslove.com">Michael Bumann</a><br /
      <a href="http://twitter.com/macasek">Michael Macasek</a><br />
      <a href="http://flatterline.com">Flatterline</a><br />
      <a href="http://pinnix.net">Jeremy Pinnix</a><br />
      <a href="http://benmabey.com">Ben Mabey</a><br />
      <a href="http://paul.annesley.cc/">Paul Annesley</a><br />
      <a href="http://github.com/tmak">Thomas Marek</a><br />
      <a href="http://www.twitter.com/cdmwebs">Chris Moore</a><br />
      <a href="http://samuelfigueroa.com">Sam Figueroa</a><br />
      <a href="http://ihower.tw">Wen-Tien Chang</a><br />
      <a href="http://www.dev-fr.com">Franck Verrot</a><br />
      </p>
    </div>
</div>