<div id="preamble" class="home">
	<h2>Sponsors</h2>
	  <p>
	    Sponsoring the Ruby Summer of Code is a great opportunity to give back to the community, and gain valuable exposure for your company, project or brand. To learn more about sponsoring, download <a href="/RubySOC-Sponsor-Prospectus.pdf">the prospectus</a> or contact <a href="mailto:sponsor@rubysoc.org">Leah Silber</a>.
	  </p>
</div>
<%= partial('shared/paypal.html.erb') %>
<div class="section">
  <h2>Full Project Sponsors</h2>
   <div class="sponsor">
     <a href="http://www.rubycentral.org" class="floatLeft"><img src="/images/Ruby-Central.png" height="125"/></a>
     <h3 class="sponsor_name">Ruby Central</h3>
     <p class="service_product">
       Ruby Central is the parent organization of the annual International <a href="http://rubyconf.org/">Ruby</a> and <a href="http://railsconf.org">Rails</a> Conferences and is a visible presence and point of contact for corporate sponsors interested in supporting these conferences and other Ruby activities. Active for nearly a decade, Ruby Central has provided support for Ruby community activities including Ruby community representation for Google's Summer of Code, RubyConf, RailsConf, RailsConf Europe, the <a href="http://rubycentral.org">Regional Conference Grant program</a> and various other sponsorships. Ruby Central has also hosted RubyForge and the Ruby community gem repository since their inceptions.
     </p>
   </div>

  <h2>Half Project Sponsors</h2>
  <div class="sponsor">
      <a href="http://www.engineyard.com" class="floatLeft"><img src="/images/Engine-Yard.png" height="125"/></a>
      <h3 class="sponsor_name">Engine Yard Inc.</h3>
      <p class="service_product">
        Engine Yard provides automation technologies and services for Ruby on Rails, including Engine Yard Cloud, an application services platform for web developers and web teams. It provides easy-to-use, automated Rails application deployment and management, with a design philosophy that allows easy migration of existing applications. Engine Yard employs top industry experts and sponsors or contributes to many Open Source projects and efforts such as <a href="http://www.rubyonrails.org">Ruby on Rails</a>, <a href="http://www.jruby.org">JRuby</a> and <a href="http://www.rubini.us">Rubinius</a>. Headquartered in San Francisco, Engine Yard is backed by Benchmark Capital, New Enterprise Associates, and Amazon.com. Visit <a href="http://www.engineyard.com">www.engineyard.com</a>, and <a href="http://www.twitter.com/engineyard">follow us on twitter</a>.
      </p>
   </div>
   
  <div class="sponsor">
      <a href="http://entp.com" class="floatLeft"><img src="/images/entp_small.png" width="115"/></a>
      <h3 class="sponsor_name">ENTP</h3>
      <p class="service_product">
        <a href="http://entp.com/">ENTP</a> is an application development team based in Portland, Oregon. Our focus is to build innovative products that redefine how people work together over the web. We also strive to maintain a strong presence within our community through contributions to open source software.
        <p>We founded ENTP after collaborating on open source projects. Over the last few years we’ve released a great deal our code and launched two of our core products, <a href="http://lighthouseapp.com/">Lighthouse</a> and <a href="http://tenderapp.com/">Tender Support</a>. They have both become well known within several development communities.
        <p>Lighthouse is a ticket-tracking application that creates a simple workflow for project development and team collaboration. Lighthouse also provides free hosted ticket-tracking for open source projects. Thanks to the folks at <a href="http://engineyard.com/">Engine Yard</a>, Lighthouse has become the leading ticket-tracker for many development teams and open source tools ranging from weekend projects to the Ruby on Rails code base.
        <p>Tender Support is a customer support application that provides seamless integration with your products and services. Development on Tender began after two years of experience on Lighthouse. We tried every option from forums and hosted support services to email and chat. Nothing fulfilled our need for a unified customer support experience, so we built it. Tender Support also provides free hosted accounts for open source projects.
        <p>We’re extremely excited to be a part of the Ruby Summer of Code project and are looking forward to helping in any way possible!
      </p>
   </div>
   
   <div class="sponsor">
       <a href="http://www.thefrontiergroup.com.au" class="floatLeft"><img src="/images/frontier_sm.png" width="130"/></a>
       <h3 class="sponsor_name">The Frontier Group</h3>
       <p class="service_product">
         Active for nearly a decade, <a href="http://www.thefrontiergroup.com.au">The Frontier Group</a> is a web design and development team based in Perth, Australia. A team of 12, our core focus is building Ruby on Rails applications for startups through to big business, using Agile processes. We run the local <a href="http://www.perthrubyonrails.com.au">Ruby on Rails Meetup</a> here in Perth, and there's always a desk here if someone needs it. Oh, and we're always looking for new talent.
         <p>Even with a team of 12, our long-term client projects keep us working around the clock. This year will hopefully bring more talented Rubyists on deck which will see us increase our contribution back to the open source community, and provide for more opportunities such as sponsoring this cause.
         <p>We're proud to sponsor the Ruby Summer of Code in 2010 and look forward to both seeing the outcome and lending a hand.
       </p>
    </div>


     <h2>Individual Contributors</h2>
     <div class="individuals">
      <p>
      <a href="http://www.twitter.com/bitsweat">Jeremy Kemper</a><br />
      <a href="http://www.twitter.com/tenderlove">Aaron Patterson</a><br />
      <a href="http://nicolassanguinetti.info">Nicolás Sanguinetti</a><br />
      <a href="http://www.twitter.com/luislavena">Luis Lavena</a><br />
      <a href="http://www.twitter.com/smithk14">Kevin Smith</a><br />
      <a href="http://www.yehudakatz.com">Yehuda Katz</a><br />
      <a href="http://andy.delcambre.com">Andy Delcambre</a><br />
      <a href="http://pabcas.com">Paul Campbell</a><br />
      <a href="http://blog.tuxicity.se/">Johan Andersson</a><br />
      <a href="http://adamw523.com">Adam Wisniewski</a><br />
      <a href="http://twitter.com/ssoroka">Steven Soroka</a><br />
      <a href="http://trevorturk.com">Trevor Turk</a><br />
      <a href="http://github.com/trotter">Trotter Cashion</a><br />
      <a href="http://twitter.com/redinger">Christopher Redinger</a><br />
      <a href="http://railsrankings.com/coders/mark-jones">Mark Jones</a><br />
      <a href="http://twitter.com/ecin">Ecin</a><br />
      <a href="http://webbynode.com">Felipe Gonçalves Coury</a><br />
      <a href="http://www.loudthinking.com">David Heinemeier Hansson</a><br />
      <a href="http://www.lukemelia.com">Luke Melia</a><br />
      <a href="http://wiscota.com">Wiscota Systems</a><br />
      <a href="http://twitter.com/MarkHolton">Mark Holton</a><br />
      Leonardo Bighi<br />
      <a href="https://github.com/sferik">Erik Michaels-Ober</a><br />
      <a href="http://www.costan.us">Victor Costan</a><br />
      <a href="http://ihack.us">Ernest Prabhakar</a><br />
      <a href="https://twitter.com/lucasdicioccio">Lucas Di Cioccio (FrihD)</a><br />
      <a href="http://evan.tiggerpalace.com">Evan Light</a><br />
      <a href="http://luigimontanez.com">Luigi Montanez</a><br />
      <a href="http://zenmachine.wordpress.com">Gleicon Moraes</a><br />
      <a href="http://www.galajda.com/">Vladimir Galajda</a><br />
      <a href="http://twitter.com/packagethief">Jeffrey Hardy</a><br />
      <a href="http://mtnwestrubyconf.org/">MountainWest Ruby, LLC</a><br />
      Emin Hasanov<br />
      <a href="http://atmos.org">Atmos</a><br />
      <a href="http://matiaskorhonen.fi">Matias Korhonen</a><br />
      Max De Marzi<br />
      <a href="http://chadfowler.com/">Chad Fowler</a><br />
      <a href="http://www.kellyjeanne.org/">Kelly Jeanne Fowler</a><br />
      <a href="http://www.elomarns.com/blog">Elomar Nascimento dos Santos</a><br />
      <a href="www.twitter.com/jakedouglas">Jake Douglas</a><br />
      <a href="http://twitter.com/rafaelrosafu">Rafael Rosa</a><br />
      <a href="http://kent.ewakened.com">Kent Fenwick</a><br />
      <a href="http://github.com/mharris717">Mike Harris</a><br />
      <a href="http://halostatue.ca/">Austin Ziegler</a><br />
      <a href="http://gstark.com">Gavin Stark</a><br />
      <a href="http://beginrescue.blogspot.com">Pete Higgins</a><br />
      <a href="http://blog.trevoke.net">Aldric Giacomoni</a><br />
      <a href="http://miloops.com">Emilio Tagua</a><br />
      <a href="http://blog.menfin.info">Bruno Michel</a><br />
      <a href="http://github.com/woodie">John Woodell</a><br />
      <a href="http://www.hashref.com">Xavier Noria</a><br />
      <a href="http://mattonrails.com/">Matthew Conway</a><br />
      <a href="http://twitter.com/calavera">David Calavera</a><br />
      <a href="http://brynary.com">Bryan Helmkamp</a><br />
      <a href="http://twitter.com/boblmartens">Bob Martens</a><br />
      <a href="http://www.plainprograms.com">James Thompson</a><br />
      <a href="http://twitter.com/enerene">René Davis</a><br />
      <a href="http://www.twitter.com/robmerrell">Rob Merrell</a><br />
      <a href="http://hungerandthirstdesign.com">Luke van der Hoeven</a><br />
      <a href="http://www.indeterminateform.com/">Max Hawkins</a><br />
      <a href="www.akitaonrails.com">Fabio Akita</a><br />
      <a href="http://livingsocial.com">Aaron Batalion</a><br />
      <a href="http://livingsocial.com">Patrick Joyce</a><br />
      <a href="http://amerine.net">Mark Turner</a><br />
      <a href="http://clear-consult.com">Clear Consulting</a><br />
      <a href="http://zlab.fr/">Guillaume Desrat</a><br />
      <a href="http://drnicwilliams.com">Dr Nic Williams</a><br />
      <a href="http://kopfmaschine.com">Thorben Schröder</a><br />
      <a href="http://mattsears.com">Matt Sears</a><br />
      <a href="http://twitter.com/metapandava">Mason Browne></a><br />
      <a href="http://intridea.com">Chris Selmer</a><br />
      <a href="http://www.wyeworks.com">Santiago Pastorino</a><br />
      <a href="http://www.wyeworks.com">José Costa</a><br />
      <a href="http://www.wyeworks.com">WyeWorks</a><br />
      <a href="http://www.jackhq.com">Jack Russell Software Company</a><br />
      <a href="http://twitter.com/narwen">Thais Camilo</a><br />
      <a href="http://www.zadams.com">Zack Adams</a><br />
      <a href="http://sethladd.com">Seth Ladd</a><br />
      <a href="http://blog-en.shingara.fr/">Cyril Mougel</a><br />
      <a href="http://eric.lubow.org/">Eric Lubow</a><br />
      <a href="http://jimlindley.com">Jim Lindley</a><br />
      <a href="http://twitter.com/wesg">Wesley Gorman</a><br />
      <a href="http://www.github.com/rares">Rob Ares</a><br />
      </p>
    </div>
</div>