<div id="preamble">
	<h2>Sponsors</h2>
	  <p>
	    Sponsoring the Ruby Summer of Code is a great opportunity to give back to the community, and gain valuable exposure for your company, project or brand. To learn more about sponsoring, download <a href="/RubySOC-Sponsor-Prospectus.pdf">the prospectus</a> or contact <a href="mailto:sponsor@rubysoc.org">Leah Silber</a>.
	  </p>
</div>  
<div class="section"> 
  <h2>Program Produced by</h2>   
  <div class="sponsor">
      <a href="http://www.engineyard.com" class="floatLeft"><img src="/images/Engine-Yard.png" height="125"/></a>
      <h3 class="sponsor_name">Engine Yard Inc.</h3>
      <p class="service_product">
        Engine Yard provides automation technologies and services for Ruby on Rails, including Engine Yard Cloud, an application services platform for web developers and web teams. It provides easy-to-use, automated Rails application deployment and management, with a design philosophy that allows easy migration of existing applications. Engine Yard employs top industry experts and sponsors or contributes to many Open Source projects and efforts such as <a href="http://www.rubyonrails.org">Ruby on Rails</a>, <a href="http://www.jruby.org">JRuby</a> and <a href="http://www.rubini.us">Rubinius</a>. Headquartered in San Francisco, Engine Yard is backed by Benchmark Capital, New Enterprise Associates, and Amazon.com. Visit <a href="http://www.engineyard.com">www.engineyard.com</a>, and <a href="http://www.twitter.com/engineyard">follow us on twitter</a>.
      </p>          
   </div>              
  <div class="sponsor">   
    <a href="http://www.rubycentral.org" class="floatLeft"><img src="/images/Ruby-Central.png" height="125"/></a>
    <h3 class="sponsor_name">Ruby Central</h3>
    <p class="service_product">

    </p>
  </div>
  <h2>Full Project Sponsors</h2>
  
  
  <h2>Half Project Sponsors</h2>
</div>