<div id="preamble">
	<h2>Sponsors</h2>
	  <p>
	    Sponsoring the Ruby Summer of Code is a great opportunity to give back to the community, and gain valuable exposure for your company, project or brand. To learn more about sponsoring, download <a href="/RubySOC-Sponsor-Prospectus.pdf">the prospectus</a> or contact <a href="mailto:sponsor@rubysoc.org">Leah Silber</a>.
	  </p>


</div>           
<div class="section"> 

</div>