<div id="preamble" class="home"> 
  <h2>Application Window</h2>
  <p>The student application window will be open <b>April 5th</b> to <b>April 23</b>. Please return to this page at that time to submit your application. Valid proof of student status <b>will</b> be required. </p>
</div>
<%= partial('shared/paypal.html.erb') %>            
<div class="section">
  <h2>Application Questions</h2>
  <p><b>The following questions will appear on the Student Application form, and<br>can help you prepare your submission:</b></p>
  <br />
    <p>&nbsp;&nbsp;&nbsp;Why do you use Ruby and/or Rails? How would you like to see them improve?</p>
    <p>&nbsp;&nbsp;&nbsp;Outline the specific project you're proposing.</p>
    <p>&nbsp;&nbsp;&nbsp;Why is this important to the Ruby and/or Rails communities at large? Why is this important to you?</p>
    <p>&nbsp;&nbsp;&nbsp;List a clear set of goals/milestones you'll hit during the summer, along with a rough timeline. Be specific about your deliverables.</p>
    <p>&nbsp;&nbsp;&nbsp;What are the "unknowns" in this project for you? What kind of pitfalls could you run into?</p>
    <p>&nbsp;&nbsp;&nbsp;How will you measure progress? How will you handle falling behind?</p>
  
  <h2>Get Prepared</h2>
    <p>If you're not familiar with the Google Summer of Code, which Ruby Summer of Code is modeled after, you may find it helpful to read through their <a href="http://code.google.com/p/google-summer-of-code/wiki/AdviceforStudents">advice for students</a>; not all aspects of the programs are the same, but the bulk of the advice will be useful.</p>
  <!-- <script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

  <script type="text/javascript">
  var s7x3k7 = new WufooForm();
  s7x3k7.initialize({
  'userName':'engineyard', 
  'formHash':'s7x3k7', 
  'autoResize':true,
  'height':'2636', 
  'ssl':true});
  s7x3k7.display();
  </script> -->
</div>