<div id="preamble" class="home"> 
  <h2>Application Window</h2>
  <p>The student application window will be open <b>April 5th</b> to <b>April 23</b>. Please return to this page at that time to submit your application. Valid proof of student status <b>will</b> be required. </p>
</div>
<div id="paypal">
  <h5><a href="http://twitter.com/tenderlove">Aaron</a></h5>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post"> <input type="hidden" name="cmd" value="_s-xclick"> <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHPwYJKoZIhvcNAQcEoIIHMDCCBywCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYDBGfvhNbg5b6FlxmAHtJDoHqNp9UfBmlFOlhyR+FkzJ4z41yh0uyP7JARGaCqvLQ2nW40bjJkHbYYziKCofe8GsXyyareuX8UYA0yy4dCW1+kooHuD2wUgz8HlqcjIzEXYXNhh2JsvsR1jz77WYKMpd4NoruT8iJi5U4UVBMlqajELMAkGBSsOAwIaBQAwgbwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIYkkZYmmjX4GAgZjtPABBuSpbbJS7eC3REWjCxXnhtVS5iJQnBXOzD+Kfx4DvqzQqQ+VEloJxJL8bFDFuOYDqHzdAVjcNoeK4O7xRjDBKSJ7ZMdBvnlB8c88WLYoVmr+2VzdTT5SW97IWLMkTu84gXG48jq4QDoKO0u/S7FpgqNZoxBjvTDE9dzVASM5VLmCiiwnDbpx0sXmX3MMHs1KOa4GTIaCCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTEwMDMyMzIxMTIzNVowIwYJKoZIhvcNAQkEMRYEFNHC/Cx9YZ6OBpBLZ1jMe9CsneObMA0GCSqGSIb3DQEBAQUABIGABwmP8a8XDaSJWYBKMehFB1EAa+6HNNiQIJAd3LbiIBB82opVyp0lx/bVFVenhoQ2UD9z5/nnxLoBREoh+MjVHNXX9J4XJGwlM813X1f8XWTsWXKBpPcfVIJ5fTp160ibX/Y6kuBuDoYVgYtI2VtLq6YZICEHYjCloCq+ZLwi9kw=-----END PKCS7----- "> <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"> <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1"> </form> 
  <b>Donate today and <a href="http://twitter.com/tenderlove">Aaron</a> will match your contribution!</b>
</div>      
<div class="section">
  <h2>Application Questions</h2>
  <p><b>The following questions will appear on the Student Application form, and<br>can help you prepare your submission:</b></p>
  <br />
    <p>&nbsp;&nbsp;&nbsp;Why do you use Ruby and/or Rails? How would you like to see them improve?</p>
    <p>&nbsp;&nbsp;&nbsp;Outline the specific project you're proposing.</p>
    <p>&nbsp;&nbsp;&nbsp;Why is this important to the Ruby and/or Rails communities at large? Why is this important to you?</p>
    <p>&nbsp;&nbsp;&nbsp;List a clear set of goals/milestones you'll hit during the summer, along with a rough timeline. Be specific about your deliverables.</p>
    <p>&nbsp;&nbsp;&nbsp;What are the "unknowns" in this project for you? What kind of pitfalls could you run into?</p>
    <p>&nbsp;&nbsp;&nbsp;How will you measure progress? How will you handle falling behind?</p>
  
  <h2>Get Prepared</h2>
    <p>If you're not familiar with the Google Summer of Code, which Ruby Summer of Code is modeled after, you may find it helpful to read through their <a href="http://code.google.com/p/google-summer-of-code/wiki/AdviceforStudents">advice for students</a>; not all aspects of the programs are the same, but the bulk of the advice will be useful.</p>
  <!-- <script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

  <script type="text/javascript">
  var s7x3k7 = new WufooForm();
  s7x3k7.initialize({
  'userName':'engineyard', 
  'formHash':'s7x3k7', 
  'autoResize':true,
  'height':'2636', 
  'ssl':true});
  s7x3k7.display();
  </script> -->
</div>