<div id="preamble"> 
  <h2>Become a Ruby Summer of Code Student!</h2>
  <p>The student application window will be open <b>April 5th</b> to <b>April 23</b>. Valid proof of student status <b>is</b> required. </p>
  <p>Several major Ruby initiatives have created <b>Idea Lists</b> to help students craft proposals; take a look if you need help with yours!</p>
  <br />
  <p style="text-align:center"><a href="http://wiki.rubyonrails.org/rubysoc/2010/ideas">Rails Ideas</a> &mdash; <a href="http://kenai.com/projects/jruby/pages/RubySummerOfCode2010">JRuby Ideas</a> &mdash; <a href="http://redmine.ruby-lang.org/wiki/ruby/SummerOfCode2010">Ruby Ideas</a></p>
  <br />
  <p>If you're not familiar with the Google Summer of Code, which Ruby Summer of Code is modeled after, you may find it helpful to read through their <a href="http://code.google.com/p/google-summer-of-code/wiki/AdviceforStudents">advice for students</a>; not all aspects of the programs are the same, but the bulk of the advice will be useful.</p>
  <br />
</div>
<div class="section">
  <br />
  <br />
  <script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

  <script type="text/javascript">
  var s7x3k7 = new WufooForm();
  s7x3k7.initialize({
  'userName':'engineyard', 
  'formHash':'s7x3k7', 
  'autoResize':true,
  'height':'2636', 
  'ssl':true});
  s7x3k7.display();
  </script>
</div>